.footer__line {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);

    .container {
        width: 100%;
        max-width: 1400px;
    }
}

.footer__line-wrapper {
    width: 100%;
    height: auto;
    padding: 15px 0;
}

.footer__line-list {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.footer__line-item {
    font-size: 14px;
    text-align: center;
    color: #a3a3a3;

    a:hover {
        text-decoration: underline;
    }
}
