.review__section {
    background: #f0f0f0;
}

.review__section-wrapper {
    width: 100%;
    height: auto;
    padding: 43px 0 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review__section-title {
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    color: #111;
    margin-bottom: 19px;
}

.review__info-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 30px;
}

.review__info {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:first-child {
        border-right: 2px solid #888;
    }

    .header__rating {
        margin-bottom: 0;
        margin-bottom: 8px;
    }

    .rating__number {
        margin-right: 0;
        padding-right: 0;
        border: none;
    }
}

.review__info-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    text-align: center;
    color: #222;
}

.review__info-text-right {
    line-height: 1.4;
    span {
        font-size: 24px;
    }
}

.review__line {
    width: 100%;
    height: 2px;
    background: #c7c7c7;
    border: none;
    margin-bottom: 20px;
}

.review__slider {
    width: 100%;
    height: auto;

    .owl-dots {
        margin-bottom: 17px;
    }
}

.review {
    width: 100%;
    height: auto;
}

.review__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.review__photo {
    width: 30px !important;
    height: auto;
    margin-right: 10px;
}

.review__name {
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    color: #111;
}

.review__date {
    width: auto;
    text-align: right;
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    color: #444;
}

.review__rating {
    margin-bottom: 8px;
}

.review__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #111;
}

.add__review {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #555;
    cursor: pointer;
}
