.review__section {
    background: linear-gradient(90deg, #ebeafa 0%, #b9b9f8 100%);
}

.review__section-wrapper {
    padding: 38px 0 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review__section-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.3;
    text-transform: uppercase;
    text-align: center;
    color: #0f1829;
    margin-bottom: 39px;
}

.review__slider {
    width: 100%;
    height: auto;

    .owl-dots {
        position: relative;
        z-index: 2;
        margin-bottom: 37px;

        button {
            background-color: #0f1829 !important;
            border: 2px solid #0f1829 !important;

            &.active {
                background-color: transparent !important;
            }
        }
    }
}

.review {
    width: 100%;
    height: auto;
    border-radius: 20px;
    padding: 18px 20px 42px;
    background: linear-gradient(180deg, rgba(239, 205, 51, 0.8) 0%, rgba(255, 235, 162, 0.8) 100%);
}

.review__info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 18px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
    color: #01315c;

    img {
        width: 20px !important;
        height: auto;
        margin-right: 10px;
    }
}

.review__img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    margin-bottom: 18px;
}

.review__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 13px;
}

.review__btn {
    background-color: transparent;
    width: 24px;
    height: auto;
    cursor: pointer;

    img {
        width: 100%;
        height: auto;
    }
}

.review__block-wrapper {
}

.review__name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    text-align: center;
    color: #0f1829;
    margin-bottom: 7px;
}

.review__rating {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 18px !important;
        height: auto;
        margin-right: 3px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.review__btn-next {
    transform: rotate(180deg);
}

.review__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: #222;
}

.add__review {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    text-align: center;
    color: #444;
    cursor: pointer;
    background: transparent;
}
