.header__section {
    background: linear-gradient(180deg, #00226a 0%, #003199 100%);
}

.header__section-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.header__logo {
    width: 215px;
    height: auto;
    background: #fff;
    border-radius: 0 0 20px 20px;
    padding: 15px 20px;
    margin-bottom: 21px;

    img {
        width: 100%;
        height: auto;
    }
}

.header__title {
    font-weight: 700;
    font-size: 29px;
    text-align: center;
    color: #38d1ff;
    margin-bottom: 17px;
}

.header__text {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #fff;
    margin-bottom: 24px;
}

.header__img-wrapper {
    width: 100%;
    height: 330px;
    position: relative;
    border-radius: 30px;
    background-image: url(../img/header-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 30px;
}

.header__prod {
    width: 212px;
    height: auto;
    position: absolute;
    top: 28px;
    left: 12px;
}

.header__decor {
    width: 140px;
    height: auto;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.header__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 50px;
}

.header__list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #fff500;

    img {
        width: 50px;
        height: auto;
        margin-bottom: 14px;
    }
}

.header__list-item-1 {
    img {
        margin-bottom: 18px;
    }
}

.order__btn {
    width: 100%;
    height: auto;
    border-radius: 30px;
    background-color: #ff2e00;
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding: 20px;
    animation: btn 10s infinite linear;
}

@keyframes btn {
    0% {
        background-color: #ff2e00;
    }
    50% {
        background-color: #4e4c08;
    }
    100% {
        background-color: #ff2e00;
    }
}