.info-1__section {
    background-color: #fff;
    background-image: url(../img/info-bg.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
}


.info-1__section-wrapper {
    padding: 41px 0 50px;
}

.info-1__title {
    font-weight: 700;
    font-size: 29px;
    text-align: center;
    color: #00206a;
    margin-bottom: 460px;
}

.info-1__text {
    font-size: 20px;
    line-height: 1.5;
    color: #222;
    margin-bottom: 22px;
}

.info-1__block {
    border-radius: 30px;
    background: #fff845;
    padding: 17px 30px;
    font-size: 20px;
    line-height: 1.5;
    color: #222;
}