.info-4__section-wrapper {
    padding: 41px 0 0;
}

.info-4__section-title {
    font-weight: 700;
    font-size: 29px;
    text-align: center;
    color: #00206a;
    margin-bottom: 42px;
}

.info-4__img {
    width: 380px;
    height: auto;
    border-radius: 20px;
    margin: auto;
    margin-bottom: -120px;
}

.info-4__block {
    border-radius: 30px;
    background: #fff;
    padding: 143px 30px 24px;
    margin-bottom: 50px;
}

.info-4__block-title {
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    color: #00206a;
    margin-bottom: 18px;
}

.info-4__block-text {
    font-size: 20px;
    text-align: center;
    color: #222;
}