.video__section {
    background: linear-gradient(180deg, #00226a 0%, #003199 100%);
}

.video__section-wrapper {
    padding: 41px 0 50px;
}

.video__section-title {
    font-weight: 700;
    font-size: 29px;
    text-align: center;
    color: #38d1ff;
    margin-bottom: 42px;
}

.video {
    width: 100%;
    border-radius: 30px;
    margin-bottom: 50px;
}

.order__btn {
    display: inline-block;
}