.info-3__section {
    background: #17181c;
}

.info-3__section-wrapper {
    padding: 50px 0 80px;
}

.info-3__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.3;
    text-align: center;
    color: #00f5e3;
    margin-bottom: 33px;
}

.info-3__items {
    position: relative;
    margin-bottom: 12px;

    &:before {
        content: "";
        width: 100px;
        height: 100px;
        border-radius: 100%;
        position: absolute;
        background: #3de820;
        filter: blur(70px);
        top: 74px;
        right: 12px;
    }
}

.info-3__items-decor {
    position: absolute;
    top: -31px;
    right: -65px;
}

.info-3__item {
    width: 100%;
    height: 100px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.3;
    z-index: 1;
  

    img {
        width: auto;
        height: auto;
        max-width: 64px;
        max-height: 64px;
        margin-right: 20px;
        position: relative;
        z-index: 1;
    }

    &:before {
        content: "";
        width: 100px;
        height: 100px;
        border-radius: 100%;
        position: absolute;
        top: 0;
        left: 0;
        filter: blur(70px);
    }
}

.info-3__item-1 {
    color: #ffb81e;

    &:before {
        background: #ffaf00;
    }
}

.info-3__item-2 {
    color: #ff3e1d;

    &:before {
        background: #f00;
    }
}

.info-3__item-3 {
    color: #50acf4;

    &:before {
        background: #0991f1;
    }
}

.info-3__item-4 {
    color: #38dc91;

    &:before {
        background: #30be7a;
    }
}

.info-3__decor-2 {
    width: 422px;
    height: auto;
}

.info-3__subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.3;
    text-align: center;
    color: #49b4ff;
    margin-bottom: 50px;
    margin-top: 80px;
}

.info-3__wrapper {
    width: 100%;
    height: auto;
    position: relative;

    &:before {
        content: "";
        width: 250px;
        height: 250px;
        background: #0991f1;
        filter: blur(70px);
        position: absolute;
        bottom: 0;
        right: -15px;
    }
}

.info-3__phone {
    width: 210px;
    height: auto;
    position: relative;
    z-index: 1;
}

.info-3__prod {
    position: absolute;
    bottom: -15px;
    right: -15px;
    z-index: 2;
}

.info-3__wrapper-text {
    position: absolute;
    width: 211px;
    height: auto;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.3;
    color: #fff;
    top: 20px;
    right: 0;
}