.bar__section {
    background-image: url(../img/bar-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bar__section-wrapper {
    padding: 0 0 61px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bar__info-block {
    margin-bottom: 80px;
    margin-top: -90px;
}

.bar {
    width: 100%;
    max-width: 1030px;
    height: 430px;
    margin-bottom: 50px;
    position: relative;
}
  
.bar__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: inset 0 0 30px 0 #0e1c1c;
    background: linear-gradient(180deg, #0e1c1c 0%, #497172 48.75%, #0e1c1c 100%);
    overflow: hidden;
}
  
.bar__column {
    width: 33.33%;
    height: 100%;
    position: relative;
}
  
.bar__column__1:before, .bar__column__2:before {
    content: "";
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -1px;
    background: #000;
}
  
.bar__item {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(1deg) scale(1);
    font-weight: 700;
    font-size: 80px;
    line-height: normal;
    color: #FFFFFF;
    text-align: center;
    transition: 0.1s linear;
    will-change: transition, transform;
    z-index: 1;
}
  
.divider__horizontal {
    width: 100%;
    height: 2px;
    background: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.divider__horizontal:before, .divider__horizontal:after {
content: "";
    width: 20px;
    height: 50px;
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.divider__horizontal:before {
    left: -1%;
}

.divider__horizontal:after {
    transform: translateY(-50%) rotate(180deg);
    right: -1%;
}

.bar__item-top-opacity {
    transform: translate(-50%, -320%) rotate(1deg) scale(0.7);
    opacity: 0;
}
  
.bar__item-top {
    transform: translate(-50%, -175%) rotate(1deg) scale(0.8);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    opacity: 1;
}
  
.bar__item-center {
    transform: translate(-50%, -50%) rotate(1deg) scale(1);
    opacity: 1;
}
  
.bar__item-bottom {
    transform: translate(-50%, 80%) rotate(1deg) scale(0.8);
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    opacity: 1;
}
  
.bar__item-bottom-opacity {
    transform: translate(-50%, 215%) rotate(1deg) scale(0.7);
    opacity: 0;
}
  
.scale {
    animation: scale 1s infinite;
}


@keyframes scale {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.1);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

.order__btn-start {
    width: 280px;
    height: 60px;
    border-radius: 35px;
    background: #497271;
    border-color: #497271;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
        background: #fff;
        border-color: #0e1c1c;
        
        span {
            color: #0e1c1c;
        }
    }
    
    span {
        width: auto;
        color: #fff;
    }

    .stop {
        display: none;
    }
}

.bar__info {
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    color: #fff;
    margin-top: 20px;

    span {
        font-weight: 600;
    }
} 