.header__section {
    background-image: url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header__section-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header__logo {
    align-self: center;
    width: 122px;
    height: auto;
    margin-bottom: 37px;
}

.header__content {
    width: 676px;
    height: auto;
    padding-bottom: 97px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.header__title {
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    color: #a11714;
    margin-bottom: 28px;
    text-align: center;

    span {
        color: #d31402;
    }
}

.header__text {
    width: 100%;
    max-width: 520px;
    font-weight: 500;
    font-size: 22px;
    color: #630003;
    margin-bottom: 43px;
    text-align: center;
}

.header__items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.header__item {
    width: 217px;
    height: auto;
    background: linear-gradient(135deg, #ea4410 0%, #e14d1e 100%);
    border-radius: 20px;
    padding: 14px 30px 14px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    color: #fff;

    img {
        width: auto;
        height: 40px;
        margin-right: 20px;
    }

    &:first-child {
        margin-right: 30px;
    }
}

.header__btn-wrapper {
    width: 360px;
    height: auto;
}

.order__btn {
    width: 100%;
    height: auto;
    display: inline-block;
    cursor: pointer;
    border-radius: 30px;
    background: #c41230;
    padding: 20px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    transition: 0.3s ease;

    &:hover {
        background: #d60606;
    }
}

.header__date {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    line-height: 1;
    color: #000;
    margin-top: 8px;

    span {
        font-weight: 700;
        color: #c41230;
    }
}

.header__decor {
   width: 100%;
   height: auto;
}

.header__girl {
    width: 304px;
    height: auto;
    position: absolute;
    top: -45px;
    left: -400px;
    z-index: 1;
}

.header__boot {
    position: absolute;
    height: auto;
}

.header__boot-1 {
    width: 620px;
    top: 20px;
    left: -440px;
}

.header__boot-2 {
    width: 611px;
    top: 20px;
    right: -440px;
}

.header__liaf {
    position: absolute;
    height: auto;
}

.header__liaf-1 {
    width: 317px;
    top: 32px;
    left: -485px;
}

.header__liaf-2 {
    width: 191px;
    top: 97px;
    right: -340px;
}

.header__liaf-3 {
    width: 337px;
    bottom: -174px;
    right: -465px;
}

