.review__section-wrapper {
    position: relative;
    background: #dabfe1;
    border-radius: 40px;
    padding: 70px 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.review__flower {
    position: absolute;
    width: 720px;
    height: auto;
    top: -250px;
    right: -600px;
    transform: rotate(-21deg);
}

.review__arrow {
    position: absolute;
    width: 241px;
    height: auto;
    top: 243px;
    left: 457px;
}

.review__title {
    font-weight: 700;
    font-size: 64px;
    color: #2f2f2f;
    width: 100%;
    max-width: 563px;
}

.review__block {
    position: relative;
    width: 553px;
    height: auto;
}

.review__quote {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.review__slider {
    padding-left: 50px;

    .owl-nav {
        width: 220px;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        bottom: 0;
        left: -626px;

        button {
            width: 85px;
            height: 85px;
            border-radius: 100%;
            border: 1px solid #2F2F2F !important;
            background-image: url(../img/review-arrow.png) !important;
            background-repeat: no-repeat !important;
            background-position: center !important;
            background-color: transparent !important;
            transition: 0.3s ease;

            span {
                display: none;
            }

            &:hover {
                background-color: rgba(0, 0, 0, 0.1) !important;
            }

            &.owl-next {
                transform: rotate(180deg);
            }
        }
    }
}

.review__massage {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2f2f2f;
    margin-bottom: 25px;
}

.review__bottom {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.review__photo {
    border-radius: 100%;
    width: 60px !important;
    height: auto;
    margin-right: 15px;
    flex-shrink: 0;
}

.review__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: #2f2f2f;
    margin-bottom: 2px;
}

.review__rating {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
        width: 16px !important;
        height: auto;
        margin-right: 3px;

        &:last-child {
            margin-right: 0;
        }
    }
}