.card__section {
    background-image: url(../img/card-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card__section-top {
    background-color: rgba(0, 56, 88, 0.6);
    padding-bottom: 14px;

    .header__title {
        padding-top: 11px;
        padding-bottom: 3px;
    }
}

.card__section-title {
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    color: #fff;
    margin-bottom: 8px;
}

.card__rating {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__rating-text {
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    color: #fff;
    margin-right: 10px;
}

.rating {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
        width: 18px;
        height: auto;
        margin-right: 3px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.card__section-wrapper {
    padding: 20px 0 45px;
    display: flex;
    flex-direction: column;
    align-items: center;   

    .header__price {
        margin-bottom: 30px;
    }
}

.card__prod {
    width: 370px;
    height: auto;
    margin-bottom: 20px;
}

.card__info-bold {
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    margin-bottom: 9px;
}

.card__info {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.3;
    color: #fff;
    margin-bottom: 34px;
}

.card__form {
    width: 100%;
    height: auto;
}

.card__input-wrapper {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    position: relative;

    label {
        width: 60px;
        height: 60px;
        background: #003858;
        border-radius: 20px 0 0 20px;
        border: 1px solid #9ce900;
        border-right: none;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0px;
        left: 0px;
        pointer-events: none;
    }
}

.card__input {
    width: 100%;
    height: 60px;
    background-color: transparent;
    transition: 0.3s ease;
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    color: #fff;
    padding: 0 20px 0 80px;
    border: 1px solid #9ce900;
    border-radius: 20px;

    &:focus {
        background-color: rgba(0, 0, 0, 0.4);
    }
}

.card__submit {
    margin-top: 10px;
    cursor: pointer;
}
