@import "fonts";
@import "main";
@import "modal";
@import "header";
@import "info";
@import "advantage";
@import "video";
@import "card";
@import "sprey";
@import "galary";
@import "review";
@import "footer";

@media (max-width: 1480px) {
    .container {
        width: 1200px;
    }
    .header__title {
        font-size: 54px;
    }
    .header__text {
        max-width: 570px;
    }    
    .header__content {
        width: 680px;
    }
    .header__block {
        right: -680px;
        width: 880px;
    }
    .header__prod {
        width: 90%;
        height: auto;
    }
    .order__btn {
        padding: 25px 80px;
    }
    .btn__info {
        font-size: 22px;
        margin-left: 40px;
    }
    .info__left {
        width: 600px;
        left: -650px;
    }
    .info__left-item {
        width: 290px;
        height: 190px;
    }
    .info__text-bold {
        font-size: 22px;
    }
    .info__text {
        font-size: 16px;
    }
    .info__left-item-1, .info__left-item-2 {
        margin-bottom: 120px;
    }
    .advantage__section-title {
        font-size: 52px;
    }
    .advantage__item {
        width: 350px;
        height: 320px;
    }
    .advantage__items {
        width: 1050px;
    }
    .advantage__boot {
        bottom: -115px;
        left: -220px;
        width: 850px;
    }
    .card__left {
        width: 680px;
    }
    .card__prod {
        width: 100%;
        margin-bottom: 86px;
    }
    .sprey__block {
        right: -700px;
    }
}

@media (max-width: 1280px) {
    .container {
        width: 1000px;
    }
    .header__nav {
        margin-bottom: 60px;
    }
    .header__content {
        width: 600px;
    }
    .header__title {
        font-size: 50px;
    }
    .header__text {
        max-width: 500px;
        font-size: 16px;
    }
    .order__btn {
        font-size: 22px;
        padding: 20px 60px;
    }
    .btn__info {
        font-size: 20px;
        margin-left: 30px;
    }
    .btn__info img {
        width: 35px;
    }
    .header__block {
        right: -540px;
        width: 750px;
        top: -20px;
    }
    .info__block {
        padding: 40px 60px;
    }
    .info__block-item {
        width: 210px;
    }
    .info__content {
        width: 460px;
    }
    .info__title {
        font-size: 30px;
    }
    .info__text-bold {
        font-size: 20px;
    }
    .info__left {
        width: 520px;
        left: -560px;
    }
    .info__left-item {
        width: 250px;
        height: 160px;
    }
    .video {
        height: 600px;
    }
    .advantage__items {
        width: 900px;
        margin-top: -170px;
    }
    .advantage__item {
        width: 300px;
        height: 280px;
        padding: 20px;
    }
    .advantage__title {
        font-size: 22px;
    }
    .advantage__text {
        font-size: 16px;
    }
    .advantage__section-title {
        font-size: 42px;
    }
    .advantage__section-wrapper {
        padding: 80px 0 120px;
    }
    .advantage__boot {
        bottom: -90px;
        left: -190px;
        width: 740px;
    }
    .card__left {
        width: 550px;
    }
    .card__right {
        width: 430px;
    }
    .sprey__content {
        width: 600px;
    }
    .sprey__title {
        font-size: 54px;
    }
    .sprey__text {
        font-size: 22px;
    }
    .footer__block {
        width: 900px;
    }
    .footer__logo {
        margin-bottom: 230px;
    }
    .footer__boot-1 {
        width: 540px;
        top: 120px;
        left: -120px;
    }
    .footer__boot-2 {
        width: 580px;
        top: 45px;
        right: -140px;
    }
    .footer__title {
        font-size: 52px;
        padding: 0 100px;
    }
}

@media (max-width: 1080px) {
    .container {
        width: 700px;
    }
    .header__section-wrapper {
        padding: 40px 0 120px;
    }
    .nav {
        display: none;
    }
    .header__nav {
        justify-content: center;
        margin-bottom: 35px;
    }
    .header__content {
        width: 100%;
    }
    .header__title {
        text-align: center;
    }
    .header__text {
        max-width: 100%;
        font-size: 18px;
        text-align: center;
    }
    .header__btn-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .order__btn {
        font-size: 24px;
        padding: 25px 80px;
    }
    .btn__info {
        margin-left: 0;
        font-size: 24px;
        margin-top: 20px;
    }
    .btn__info img {
        width: 40px;
        height: auto;
    }
    .header__block {
        width: 100%;
        position: relative;
        top: auto;
        right: auto;
        margin-bottom: 20px;
    }
    .header__prod {
        position: absolute;
        bottom: 0px;
        right: 0px;
        width: 98%;
    }
    .header__text {
        margin-bottom: 30px;
    }
    .header__decor-1 {
        top: 50%;
        transform: translateY(-50%);
        left: -100px;
        filter: blur(200px);
    }
    .header__decor-2 {
        bottom: -800px;
        right: auto;
        left: -100px;
        filter: blur(200px);
    }
    .info__block {
        flex-direction: column;
        align-items: center;
    }
    .info__block-item {
        width: 230px;
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }
    .info__block {
        padding: 50px 60px;
    }
    .info__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .info__left {
        width: 100%;
        height: auto;
        left: auto;
        bottom: auto;
        position: static;
        margin-top: 80px;
        margin-bottom: 45px;
    }
    .info__title {
        font-size: 40px;
        text-align: center;
        margin-bottom: 20px;
    }
    .info__text-bold {
        font-size: 24px;
        text-align: center;
        margin-bottom: 5px;
    }
    .info__text {
        font-size: 18px;
        text-align: center;
        margin-bottom: 20px;
    }
    .info__left-item {
        width: 47%;
        height: 215px;
    }
    .info__left-item-1, .info__left-item-2 {
        margin-bottom: 140px;
    }
    .info__decor {
        bottom: 380px;
        left: -216px;
        filter: blur(200px);
    }
    .video {
        height: 400px;
    }
    .video__btn {
        width: 120px;
        height: 120px;
    }
    .video__btn img {
        margin-left: 10px;
        width: 40px;
    }
    .info__section-wrapper {
        padding-bottom: 120px;
    }
    .video__decor {
        top: -242px;
        right: -250px;
    }
    .advantage__boot {
        display: none;
    }
    .advantage__section-title {
        font-size: 48px;
        text-align: center;
        margin-bottom: 35px;
    }
    .advantage__items {
        margin-top: 0;
        width: 100%;
    }
    .advantage__item-1 {
        margin-left: 0;
    }
    .advantage__decor {
        display: none;
    }
    .galary__slide {
        transform: none;
        width: 100%;
        height: auto;
        top: auto;
    }
    .galary__slider {
        .center {
            padding-top: 27px;
        }
    }
    .card {
        flex-direction: column;
        align-items: center;
    }
    .card__left {
        width: 100%;
        margin-bottom: 20px;
    }
    .card__right {
        width: 100%;
    }
    .card__prod {
        width: 100%;
        margin-bottom: 20px;
    }
    .galary__decor {
        top: auto;
        right: auto;
        bottom: -800px;
        left: -200px;
        filter: blur(200px);
    }
    .sprey__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 0;
    }
    .sprey__block {
        width: 100%;
        position: relative;
        top: auto;
        right: auto;
    }
    .sprey__title {
        text-align: center;
    }
    .sprey__text {
        text-align: center;
    }
    .sprey__price .price {
        justify-content: center;
    }
    .sprey__block {
        margin-bottom: 20px;
    }
    .sprey__prod-1 {
        transform: translateY(-50%) rotate(-12deg);
        left: 115px;
        top: 55%;
    }
    .sprey__prod-2 {
        transform: translateY(-50%) rotate(14deg);
        left: auto;
        right: 0;
        top: 60%;
    }
    .sprey__decor {
        background: rgba(255, 191, 44, 0.6);
        top: -165px;
        right: -100px;
        filter: blur(200px);
    }
    .footer__block {
        width: 130%;
        top: 0px;
    }
    .footer__title {
        font-size: 37px;
        padding: 0px 130px;
        margin-bottom: 100px;
    }
    .footer__boot-1 {
        width: 360px;
        top: 0px;
        left: 50px;
    }
    .footer__boot-2 {
        width: 340px;
        top: auto;
        bottom: 190px;
        right: 70px;
    }
    .footer__section-wrapper {
        padding-bottom: 120px;
    }
    .footer__logo {
        margin-bottom: 280px;
    }
    .decor {
        filter: blur(200px);
    }
}

@media (max-width: 700px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }
    .advantage__item {
        width: 100%;
        padding: 30px;
    }
    .galary__section-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 540px) {
    .header__section-wrapper {
        padding: 7vw 0 26vw;
    }
    .header__nav {
        margin-bottom: 8.5vw;
    }
    .header__logo {
        width: 19vw;
    }
    .header__title {
        font-size: 7.5vw;
        margin-bottom: 8.5vw;
    }
    .header__block {
        margin-bottom: 4.8vw;
    }
    .header__text {
        font-size: 4.5vw;
        margin-bottom: 7vw;
    }
    .order__btn {
        font-size: 5.6vw;
        padding: 6vw 22vw;
    }
    .btn__info {
        font-size: 5.6vw;
        margin-top: 5.5vw;
    }
    .btn__info img {
        width: 10vw;
        height: auto;
        margin-left: 4.8vw;
    }
    .header__decor-1 {
        width: 100vw;
        height: 228vw;
        left: -15px;
        filter: blur(200px);
    }
    .header__decor-2 {
        width: 151vw;
        height: 124vw;
        bottom: -170vw;
        right: auto;
        left: -70vw;
        
        background: rgba(255, 191, 44, 0.6);
    }
    .info__section-wrapper {
        padding-bottom: 28vw;
    }
    .info__block {
        padding: 12vw 5vw;
        margin-bottom: 28vw;
    }
    .info__block-item {
        width: 56vw;
        margin-bottom: 7vw;
    }
    .info__item-number {
        font-size: 11.8vw;
        margin-bottom: 2vw;
    }
    .info__item-text {
        font-size: 4.5vw;
    }
    .info__title {
        font-size: 7.5vw;
        margin-bottom: 4.8vw;
    }
    .info__text-bold {
        font-size: 5.5vw;
        margin-bottom: 1vw;
    }
    .info__text {
        font-size: 4.5vw;
        margin-bottom: 4.8vw;
    }
    .info__left {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-top: 20vw;
        margin-bottom: 11vw;
    }
    .info__left-item {
        width: 89%;
        height: 54vw;
        margin-bottom: 28vw !important;

        &:last-child {
            margin-bottom: 0 !important;
        }
    }
    .info__left-item-1, .info__left-item-2 {
        margin-bottom: 0;
    }
    .info__content .order__btn {
        padding: 6vw 24vw;
        margin-top: 0;
    }
    .info__decor {
        bottom: 150vw;
        left: -75vw;
        width: 144vw;
        height: 147vw;
        background: rgba(255, 191, 44, 0.5);
    }
    .video {
        height: 91vw;
    }
    .video__btn {
        width: 43vw;
        height: 43vw;
        margin-bottom: 6vw;
    }
    .video__btn img {
        margin-left: 4.8vw;
        width: 14vw;
    }
    .video__text {
        font-size: 4.2vw;
    }
    .video__section-wrapper {
        padding-bottom: 28vw;
    }
    .video__decor {
        top: -50vw;
        right: -150vw;
        width: 143vw;
        height: 147vw;
    }
    .advantage__section-title {
        font-size: 8vw;
        text-align: center;
        margin-bottom: 8vw;
    }
    .advantage__item {
        padding: 7vw;
        height: 80vw;
    }
    .advantage__number {
        width: 14.5vw;
        height: 14.5vw;
        font-size: 9.8vw;
    }
    .advantage__title {
        font-size: 5.8vw;
        margin-bottom: 2vw;
    }
    .advantage__text {
        font-size: 4.5vw;
    }
    .advantage__section-wrapper {
        padding: 0 0 28vw;
    }
    .owl-dots {
        margin-top: 12vw;
    }
    .galary__section-title {
        font-size: 7.5vw;
        margin-bottom: 10vw
    }
    .galary__slider {
        width: 225vw;
        height: auto;

        .owl-dots {
            width: calc(100vw - 30px);
            margin: auto;
            margin-top: 12vw;
        }
    }
    .galary__section-wrapper {
        padding-bottom: 28vw;
    }
    .card__prod {
        margin-bottom: 4.8vw;
    }
    .card__photos {
        padding: 1vw;
        border-radius: 4.8vw
    }
    .card__photos a {
        width: 19.4%;
        border-radius: 4.8vw
    }
    .card__left {
        margin-bottom: 4.8vw;
    }
    .card__block {
        border-radius: 4.8vw;
        background: rgb(28, 28, 28);
    }
    .card__block-1 {
        margin-bottom: 4.8vw;
        padding: 6vw 3.5vw;
    }
    .card__title {
        font-size: 6vw;
        margin-bottom: 6vw;
    }
    .card__info {
        font-size: 4.5vw;

        .old__price {
            font-size: 4.5vw;
            margin-right: 2vw;
        }

        .new__price {
            font-size: 6vw;
        }
    }
    .card__block-2 {
        padding: 4.8vw 3.5vw;
    }
    .card__submit {
        font-size: 5.6vw;
        padding: 3.5vw 22vw;
    }
    .card__section-wrapper {
        padding-bottom: 28vw;
    }
    .card__select select {
        text-indent: 34% hanging;
    }

    .galary__decor {
        width: 144vw;
        height: 147vw;
        bottom: -200vw;
        left: -100vw;
        background: rgba(255, 191, 44, 0.6);
    }
    .sprey__title {
        font-size: 7.5vw;
        margin-bottom: 4.8vw;
    }
    .sprey__text {
        font-size: 5.8vw;
        margin-bottom: 4.8vw;
    }
    .sprey__price .price__old-text {
        font-size: 4.5vw;
    }
    .sprey__price .new__price {
        font-size: 6.2vw;
    }
    .sprey__price .old__price {
        margin-right: 4.5vw;
    }
    .sprey__block {
        width: 100vw;
        height: auto;
        margin-bottom: 4.8vw;
    }
    .sprey__prod-1 {
        left: 14vw;
        width: 37vw;
        top: 50%;
    }
    .sprey__prod-2 {
        left: auto;
        right: -4vw;
        top: 57%;
        width: 57vw;
    }
    .sprey__price {
        margin-bottom: 4.8vw;
    }
    .sprey__decor {
        top: -40vw;
        right: -25vw;
        width: 141vw;
        height: 147vw;
    }
    .sprey__section-wrapper {
        padding-bottom: 28vw;
    }
    .review__section-wrapper {
        padding-bottom: 28vw;
    }
    .review__section-title {
        font-size: 7.5vw;
        margin-bottom: 12vw;
    }
    .review__name {
        font-size: 6vw;
        margin-bottom: 1vw;
        padding: 0 6vw;
    }
    .review__text {
        padding: 0 6vw;
        margin-bottom: 6vw;
        font-size: 4.5vw;
    }
    .review__decor {
        display: none;
    }
    .footer__block {
        width: 165%;
        top: 15vw;
    }
    .footer__logo {
        width: 30vw;
        margin-bottom: 58vw;
    }
    .footer__title {
        font-size: 7.5vw;
        padding: 0 2vw;
        margin-bottom: 32vw;
    }
    .footer__boot-1 {
        width: 75vw;
        top: -9vw;
        left: 10vw;
    }
    .footer__boot-2 {
        width: 70vw;
        bottom: 11vw;
        right: 2vw;
    }
    .footer__section-wrapper .btn__info {
        margin-top: 7vw;
    }
    .footer__decor-1, .footer__decor-2 {
        display: none;
    }
    .footer__decor-3 {
        background: rgba(255, 191, 44, 0.4);
        width: 152vw;
        height: 154vw;
        filter: blur(200px);
        top: 20vw;
        right: auto;
        left: -50vw;
    }
    .fancybox-slide {
        padding: 44px 15px;
    }
    .footer__section-wrapper {
        padding-bottom: 25vw;
    }
    .decor {
        filter: blur(100px);
        opacity: 0.6;
    }
}