.header__section {
    background-image: url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header__section-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 30px;
}

.header__title {
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    color: #fadd3a;
    margin-bottom: 7px;
}

.header__line {
    width: 480px;
    height: auto;
    background-color: rgba(0, 30, 56, 0.8);
    font-weight: 600;
    font-size: 24px;
    line-height: 1;
    text-align: center;
    color: #3ad0ff;
    padding: 15px 0;
    margin-bottom: 25px;
}

.header__items {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 25px;
}

.header__item {
    width: 142px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__icon {
    width: 84px;
    height: 84px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background: linear-gradient(135deg, #fadd3a 0%, #ffa800 100%);
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 60px;
    line-height: 1;
    text-align: center;
    color: #00388e;
}

.header__item-text {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #fff;
}

.header__item-1 {
    margin-bottom: 160px;
}
.header__item-2 {
    margin-bottom: 160px;
}

.header__item-3 {
}
.header__item-4 {
}

.header__prod {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 284px;
    height: auto;
}

.header__block {
    width: 100%;
    height: auto;
    background-color: rgba(0, 30, 56, 0.8);
    border-radius: 20px;
    padding: 25px 20px 30px;
}

.header__block-title {
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    color: #fff;
    margin-bottom: 15px;
}

.header__price {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.price {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;

    &:before {
        content: "";
        width: 2px;
        height: 100%;
        background: #3ad0ff;
        position: absolute;
        top: 0;
        left: calc(50% - 1px);
    }
}

.old__price {
    font-weight: 600;
    font-size: 30px;
    line-height: 1;
    text-align: center;
    color: #fff;
    position: relative;
    padding: 0 8px;
    margin-right: 62px;

    &:before, &:after {
        content: "";
        width: 100%;
        height: 2px;
        background: #f00;
        position: absolute;
        top: 50%;
        left: 50%;
    }

    &:before {
        transform: translate(-50%, -50%) rotate(15deg);
    }

    &:after {
        transform: translate(-50%, -50%) rotate(-15deg);
    }
}

.new__price {
    font-weight: 700;
    font-size: 36px;
    line-height: 1;
    text-align: center;
    color: #fadd3a;
}

.header__block-subtitle {
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: #3ad0ff;
    margin-bottom: 15px;
}

.order__btn {
    display: inline-block;
    width: 100%;
    height: auto;
    border-radius: 10px;
    background: linear-gradient(135deg, #3ad0ff 0%, #c5fc50 100%);
    position: relative;
    padding: 23px 20px;
    text-align: center;

    span {
        position: relative;
        z-index: 2;
        font-weight: 600;
        font-size: 20px;
        line-height: 1;
        text-transform: uppercase;
        color: #02172b;
    }

    &:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 10px;
        background: linear-gradient(-135deg, #3ad0ff 0%, #c5fc50 100%);
        opacity: 0;
        animation: btn 6s infinite;
    }
}

@keyframes btn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.header__quantity {
    margin-top: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
        display: inline-block;
        border-radius: 6px;
        background: #1a59d3;
        padding: 10px;
        font-weight: 600;
        margin-left: 2px;
    }
}

.quantity {
}
