.advantage__section {
}

.advantage__section-wrapper {
    padding-bottom: 128px;
    position: relative;
}

.advantage__decor-line {
    position: absolute;
    width: 436px;
    height: auto;
    top: 33px;
    right: -144px;
    animation-duration: 6s;
}

.advantage__decor-1 {
    top: 55px;
    right: 270px;
}

.advantage__decor-2 {
    left: 263px;
    top: 101px;

    .star {
        animation-delay: 3s;
    }

    .star-1 {
        right: auto;
        left: 0;
    }

    .star-2 {
        left: auto;
        right: 0;
    }
}

.advantage__section-title {
    font-weight: 700;
    font-size: 64px;
    line-height: 1.5;
    text-align: center;
    color: #444;
    margin-bottom: 25px;

    span {
        color: #e00225;
    }
}

.advantage__block {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
}

.advantage__items {
    width: 345px;
    height: auto;
    position: relative;
    flex-shrink: 0;
    padding-top: 62px;
}

.advantage__item {
    width: 100%;
    height: auto;
    margin-bottom: 35px;

    &:last-of-type {
        margin-bottom: 0;
    }
}

.advantage__icon {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 10px;
}

.advantage__item-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
    color: #444;
    margin-bottom: 10px;
}

.advantage__item-text {
    font-weight: 400;
    font-size: 17px;
    line-height: 1.5;
    color: #444;
}

.advantage__item-1 {
    position: absolute;
    top: 0;
    left: -446px;
    width: 351px;

    .advantage__icon {
        margin-left: auto;
    }
    .advantage__item-title, .advantage__item-text {
        text-align: right;
    }
}

.advantage__boot-wrapper {
    position: absolute;
    width: 410px;
    height: auto;
    bottom: 0;
    left: 475px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .order__nav {
        width: auto;
    }
}

.advantage__boot {
    width: 100%;
    height: auto;
    margin-bottom: 49px;
}

.advantage__arrow {
    position: absolute;
    height: auto;
}

.advantage__arrow-1 {
    width: 107px;
    top: -100px;
    left: 150px;

}

.advantage__arrow-2 {
    width: 169px;
    top: -167px;
    right: -110px;
}

.advantage__arrow-3 {
    top: 60px;
    right: -99px;
    width: 124px;
}

.advantage__arrow-4 {
    width: 119px;
    top: 180px;
    right: -100px;
}



.advantage__galary {
    width: 520px;
    height: 720px;
    border-radius: 50px;
    box-shadow: 3px 3px 0 0 #444;

    .owl-stage-outer {
        border-radius: 50px;
    }

    img {
        width: 100%;
        height: auto;
        border-radius: 50px;
    }
}

.owl-nav {
    width: 130px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 37px;
    left: 50%;
    transform: translateX(-50%);

    button {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        border: 2px solid #E00225 !important;
        background-color: #fff !important;
        background-image: url(../img/info-arrow.png) !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        opacity: 0.5;

        span {
            display: none;
        }

        &:hover {
            background-color: rgba(255, 255, 255, 0.5) !important;
            background-image: url(../img/arrow-red.png) !important;
            opacity: 1;
        }

        &.owl-next {
            transform: rotate(180deg);
        }
    }
}

