.card__section-wrapper {
    padding: 130px 0;
    position: relative;
}

.card__decor-1 {
    top: 113px;
    right: 320px;
}

.card__decor-2 {
    left: 279px;
    top: 160px;

    .star {
        animation-delay: 3s;
    }

    .star-1 {
        right: auto;
        left: 0;
    }

    .star-2 {
        left: auto;
        right: 0;
    }
}

.card__section-title {
    font-weight: 700;
    font-size: 64px;
    line-height: 1.5;
    color: #444;
    text-align: center;

    span {
        color: #e00225;
    }
}

.card__section-text {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
    color: #000;
    margin-bottom: 65px;

    span {
        color: #e00225;
    }
}

.card__wrapper {
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 103px;

    &:last-child {
        margin-bottom: 0;
    }
}

.card__line {
    position: absolute;
    height: auto;
    animation-duration: 6s;
}

.card__line-1 {
    width: 403px;
    top: -333px;
    left: -104px;
}

.card__line-2 {
    width: 179px;
    right: -209px;
    top: 201px;
}

.card__line-3 {
    width: 436px;
    top: -246px;
    left: -240px;
}

.card {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    .info__discount {
        position: absolute;
        top: 49px;
        right: 0;
        display: flex !important;
        width: 120px;
        height: 120px;
        font-size: 24px;
    }
}

.card__left {
    width: 750px;
    height: auto;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.card__1 {
    .card__boot {
        margin-bottom: 62px;
    }
}

.card__2 {
    .card__boot {
        margin-bottom: 76px;
    }
}

.card__3 {
    .card__boot {
        margin-bottom: 43px;
    }
}

.card__4 {
    .card__boot {
        margin-bottom: 52px;
    }
}

.card__5 {
    .card__boot {
        margin-bottom: 59px;
    }
}

.card__boot {
    width: 765px;
    height: auto;
}

.card__photos {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        width: 180px;
        height: auto;

        &:hover {
            img {
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            }
        }

        img {
            width: 100%;
            height: auto;
            border-radius: 20px;
            box-shadow: 3px 3px #444;
            transition: 0.3s ease;
        }
    }
}

.card__right {
    width: 555px;
    height: auto;
    border: 1px solid #444;
    border-radius: 50px;
    background: #f9e3af;
    padding: 40px 35px 47px;
    box-shadow: 3px 3px #444;
}

.card__name {
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    color: #fff;
    line-height: normal;
    -webkit-text-stroke: 2px #444;
    margin-bottom: 19px;
}

.card__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 10px;

    .price {
        display: flex;
        justify-content: flex-end;
        align-items: baseline;
        flex-direction: row;
        width: auto;
        flex-shrink: 0;
    }

    .new__price {
        font-weight: 700;
        font-size: 24px;
        color: #e00225;
        margin-right: 9px;
    }

    .old__price {
        font-weight: 700;
        font-size: 18px;
        text-decoration: line-through;
        color: #444;
    }

    span {
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 0.05em;
        color: #444;
        flex-shrink: 0;
        line-height: normal;
    }
}

.card__info-divider {
    border-bottom: 1px dotted #444;
    margin-bottom: 4px;
}

.card__info-bold {
    text-align: right;
    font-weight: 700 !important;
}

.card__form {
    width: 100%;
    height: auto;
    margin-top: 26px;
}

.card__input-wrapper {
    width: 100%;
    height: auto;
    margin-bottom: 7px;
}

.card__input {
    width: 100%;
    height: 50px;
    border: 1px solid #444;
    border-radius: 25px;
    background: #fff;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: #444;
    text-align: center;
}

.card__select {
    position: relative;

    &:before {
        content: "";
        width: 50px;
        height: 50px;
        border-radius: 100%;
        background-color: #b3edff;
        border: 1px solid #444;
        background-image: url(../img/tringle.png);
        background-repeat: no-repeat;
        background-position: center 55%;
        position: absolute;
        top: 0;
        right: 0;
        box-sizing: border-box;
    }
}

.card__submit {
    width: 100%;
    border: 1px solid #444;
    border-radius: 25px;
    background: #b3edff;
    height: 50px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    color: #444;
    cursor: pointer;
    margin-top: 10px;

    &:before {
        left: -1px;
    }
}
