@import "fonts";
@import "main";
@import "modal";
@import "header";
@import "info";
@import "advantage";
@import "video";
@import "card";
@import "sprey";
@import "galary";
@import "review";
@import "footer";

@media (max-width: 1480px) {
    .container {
        width: 1200px;
    }
    .header__title {
        font-size: 84px;
    }
    .header__prod {
        width: 780px;
        bottom: 50px;
    }
    .info__title {
        font-size: 56px;
    }
    .info__slider-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .info__slider {
        width: 1360px;
    }
    .star__decor-1 {
        left: 680px;
    }
    .star__decor-2 {
        left: 840px;
    }
    .info__line {
        width: 330px;
        top: 328px;
        left: -60px;
    }
    .info__item-title {
        font-size: 54px;
    }
    .info__item-title span {
        font-size: 78px;
    }
    .info__item-3 .info__item-title {
        font-size: 22px;
    }
    .info__item-3 .info__item-text {
        font-size: 16px;
    }   
    .info__item-2 .info__item-text {
        font-size: 18px;
        padding: 0 40px;
    } 
    .advantage__items {
        width: 320px;
    }
    .advantage__item-1 {
        left: -400px;
        width: 330px;
    }
    .advantage__galary {
        width: 460px;
        height: 670px;
    }
    .advantage__item-text {
        font-size: 16px;
    }
    .advantage__item-title {
        font-size: 22px;
        margin-bottom: 5px;
    }
    .advantage__boot-wrapper {
        left: 410px;
    }
    .advantage__arrow-1 {
        width: 90px;
        top: -80px;
        left: 140px;
    }
    .advantage__arrow-2 {
        width: 150px;
        top: -130px;
        right: -40px;
    }
    .advantage__arrow-3 {
        top: 60px;
        right: -35px;
        width: 100px;
    }
    .advantage__arrow-4 {
        width: 100px;
        top: 200px;
        right: -55px;
    }
    .video__title {
        font-size: 50px;
    }
    .card__decor-1 {
        top: 113px;
        right: 270px;
    }
    .card__decor-2 {
        left: 250px;
        top: 160px;
    }
    .card__line-1 {
        width: 340px;
        top: -210px;
        left: -50px;
    }
    .card__left {
        width: 650px;
    }
    .card__right {
        width: 510px;
    }
    .card__photos a {
        width: 155px;
    }
    .card__boot {
        width: 110%;
    }
    .card__line-3 {
        width: 360px;
        top: -190px;
        left: -150px;
    }
    .sprey__title {
        font-size: 38px;
    }
    .footer__boot-1 {
        width: 500px;
    }
}

@media (max-width: 1280px) {
    .container {
        width: 1000px;
    }
    .header__title {
        font-size: 74px;
    }
    .header__decor-1 {
        width: 200px;
        bottom: 400px;
        left: -50px;
    }
    .header__arrow {
        width: 126px;
        bottom: 464px;
        left: 140px;
    }
    .header__prod {
        width: 660px;
        bottom: 135px;
    }
    .header__block {
        width: 320px;
        margin-bottom: 170px;
    }
    .info__section-wrapper {
        padding: 100px 0;
    }
    .info__title {
        font-size: 48px;
    }
    .star__decor-1 {
        top: 120px;
        left: 580px;
    }
    .star__decor-2 {
        left: 700px;
        top: 125px;
    }
    .info__line {
        width: 330px;
        top: 260px;
        left: -60px;
    }
    .info__item-text {
        font-size: 20px;
    }
    .info__item-3 .info__item-title {
        font-size: 20px;
    }
    .info__item-3 {
        padding: 20px 40px 20px 25px;
    }
    .info__item-arrow {
        width: 40px;
        height: 40px;
        top: 25px;
        right: 15px;
    }
    .info__item-title {
        font-size: 42px;
    }
    .info__item-title span {
        font-size: 62px;
    }
    .info__item-2 .info__item-text {
        font-size: 18px;
        padding: 0 20px;
    }
    .advantage__section-title {
        font-size: 54px;
    }
    .advantage__decor-1 {
        top: 50px;
        right: 160px;
    }
    .advantage__decor-2 {
        left: 170px;
        top: 80px;
    }
    .advantage__decor-line {
        position: absolute;
        width: 360px;
        height: auto;
        top: 60px;
        right: -144px;
    }
    .advantage__items {
        width: 280px;
    }
    .advantage__item-1 {
        left: -330px;
        width: 100%;
    }
    .advantage__galary {
        width: 360px;
        height: auto;
    }
    .advantage__item-title {
        font-size: 20px;
        margin-bottom: 5px;
    }
    .advantage__boot-wrapper {
        width: 340px;
        left: 320px;
    }
    .advantage__item {
        margin-bottom: 20px;
    }
    .advantage__item-text {
        font-size: 15px;
    }
    .advantage__arrow-1 {
        width: 80px;
        top: -70px;
        left: 130px;
    }
    .advantage__arrow-2 {
        width: 120px;
        top: -110px;
        right: -45px;
    }
    .advantage__arrow-3 {
        top: 40px;
        right: -40px;
        width: 90px;
    }
    .advantage__arrow-4 {
        width: 90px;
        top: 170px;
        right: -40px;
    }
    .video {
        width: 380px;
        height: 220px;
    }
    .video__block {
        padding: 50px 60px 50px 50px;
    }
    .video__title {
        font-size: 42px;
    }
    .card__left {
        width: 550px;
    }
    .card__right {
        width: 420px;
    }
    .card__photos a {
        width: 130px;
    }
    .card__decor-1 {
        top: 113px;
        right: 170px;
    }
    .card__decor-2 {
        left: 160px;
        top: 160px;
    }
    .card__section-wrapper {
        padding: 100px 0;
    }
    .card__line-1 {
        width: 340px;
        top: -170px;
        left: -50px;
    }
    .sprey__block {
        padding: 30px 180px;
    }
    .sprey__img-1 {
        width: 210px;
        top: -33px;
        left: 0px;
    }
    .sprey__img-2 {
        width: 210px;
        top: -33px;
        right: -30px;
    }
    .sprey__title {
        font-size: 34px;
    }
    .sprey__text-bold {
        font-size: 16px;
    }
    .sprey__text {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .sprey__section-wrapper {
        padding: 50px 0;
    }
    .galary {
        width: 980px;
        height: 550px;
        margin-bottom: -40px;
    }
    .galary__item-1, .galary__item-6 {
        width: 240px;
    }
    .galary__item-2, .galary__item-5 {
        width: 180px;
    }
    .galary__item-3, .galary__item-4 {
        width: 260px;
    }
    .galary__item-2 {
        left: 260px;
    }
    .galary__item-3 {
        left: 260px;
    }
    .galary__item-4 {
        right: 260px;
    }
    .galary__item-5 {
        right: 260px;
    }
    .galary__line {
        width: 320px;
        top: 90px;
        right: -190px;
    }
    .footer__boot-1 {
        width: 400px;
    }
    .footer__boot-2 {
        width: 400px;
        bottom: 250px;
        right: 65px;
    }
}

@media (max-width: 1080px) {
    .container {
        width: 700px;
    }
    .header__section-wrapper {
        padding: 30px 0 50px
    }
    .nav {
        display: none;
    }
    .header__nav {
        justify-content: center;
        margin-bottom: 50px;
    }
    .header__nav .order__btn {
        display: none !important;
    } 
    .header__title {
        font-size: 62px;
        margin-bottom: 50px;
    }
    .header__decor-wrapper {
        position: relative;
        margin-bottom: 20px;
    }
    .header__prod {
        position: static;
        bottom: auto;
        left: auto;
        transform: none;
    }
    .header__block {
        width: 100%;
        max-width: 400px;
        margin-bottom: 170px;
        align-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 55px;
    }
    .header__text {
        text-align: center;
    }
    .header__review {
        align-self: center;
    }
    .header__decor-2 {
        width: auto;
        left: auto;
        right: 0;
        bottom: auto;
        top: -30px;
    }
    .header__decor-img {
        width: 140px;
    }
    .header__decor-2:before {
        width: 28px;
        height: 32px;
        top: -20px;
        left: -18px;
    }
    .header__decor-1 {
        width: 160px;
        top: -100px;
        bottom: auto;
        left: -20px;
    }
    .header__arrow {
        width: 126px;
        bottom: auto;
        top: 0;
        left: 140px;
    }
    .header__arrow {
        width: 80px;
        bottom: auto;
        top: -45px;
        left: 50%;
        transform: translateX(-50%);
    }
    .info__section-wrapper {
        padding: 85px 0 65px;
    }
    .info__title {
        text-align: center;
        font-size: 56px;
        margin-bottom: 35px;
    }
    .info__nav-btns {
        position: static;
        top: auto;
        right: auto;
        margin-top: 35px;
    }
    .info__line {
        width: 280px;
        top: 260px;
        left: -60px;
    }
    .star__decor-1 {
        top: 90px;
        left: auto;
        right: 50px;
    }
    .star__decor-2 {
        width: 96px;
        height: 65px;
        left: 0;
        top: 110px;

        .star {
            width: 49px;
            height: 49px;
        }
    }
    .info__slider-wrapper {
        margin-bottom: 85px;
    }
    .info__items {
        flex-direction: column;
        align-items: center;
    }
    .info__column {
        width: 100%;
        margin-bottom: 20px;
    }
    .info__item-text {
        font-size: 28px;
    }
    .info__item-title {
        font-size: 62px;
    }
    .info__item-title span {
        font-size: 96px;
    }
    .info__item-2 {
        padding: 47px;
    }
    .info__item-2 .info__item-text {
        font-size: 20px;
        padding: 0 40px;
    }
    .info__item-3 .info__item-title {
        font-size: 24px;
    }
    .info__item-3 .info__item-text {
        font-size: 20px;
    }
    .info__item-3 {
        padding: 25px 70px 25px 30px;
    }
    .info__item-arrow {
        width: 50px;
        height: 50px;
        top: 30px;
        right: 25px;
    }
    .advantage__section-wrapper {
        padding-bottom: 100px;
    }    
    .advantage__block {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-start;
    }
    .advantage__items {
        width: 100%;
        padding-top: 0;
    }
    .advantage__item-1 {
        position: static;
        top: auto;
        left: auto;
    }
    .advantage__item-1 .advantage__icon {
        margin: auto;
    }
    .advantage__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 35px;
    }
    .advantage__item-title {
        text-align: center;
        font-size: 24px;
        margin-bottom: 10px;
    }
    .advantage__item-text {
        text-align: center;
        font-size: 18px;
    }
    .advantage__item-1 .advantage__item-title, .advantage__item-1 .advantage__item-text {
        text-align: center;
    }
    .advantage__boot-wrapper {
        position: static;
        margin-top: 35px;
        margin-bottom: 40px;
        width: 100%;
        max-width: 500px;
    }
    .advantage__arrow {
        display: none;
    }
    .advantage__boot {
        margin-bottom: 25px;
    }
    .advantage__galary {
        width: 100%;
        max-width: 500px;
        height: auto;
    }
    .advantage__section-title {
        font-size: 60px;
        margin-bottom: 35px;
    }
    .advantage__decor-line {
        position: absolute;
        width: 320px;
        height: auto;
        top: 100px;
        right: -180px;
    }
    .advantage__decor-1 {
        top: 50px;
        right: -15px;
    }
    .advantage__decor-2 {
        left: -15px;
        top: 80px;
    }
    .video__block {
        flex-direction: column-reverse;
        align-items: center;
    }
    .video__block {
        padding: 50px;
    }
    .video__wrapper {
        margin-left: 0;
    }
    .video__title {
        font-size: 48px;
        text-align: center;
        margin-bottom: 10px;
    }
    .video__text-bold {
        text-align: center;
        margin-bottom: 10px;
    }
    .video__text {
        text-align: center;
        margin-bottom: 30px;
    }
    .video {
        width: 100%;
        height: 340px;
    }
    .card__section-wrapper {
        padding: 80px 0;
    }
    .card__decor-1 {
        top: 85px;
        right: 20px;
    }
    .card__decor-2 {
        left: 20px;
        top: 160px;
    }
    .card {
        flex-direction: column;
        align-items: center;
    }
    .card__left {
        width: 100%;
        justify-content: flex-start;
        margin-bottom: 30px;
    }
    .card .info__discount {
        top: auto;
        right: auto;
        align-self: flex-end;
        position: relative;
        margin-bottom: -60px;
    }
    .card__photos a {
        width: 160px;
    }
    .card__right {
        width: 100%;
    }
    .card__boot {
        width: 100%;
        margin-bottom: 30px !important;
        position: relative;
        z-index: 3;
    }
    .card__line {
        display: none;
    }
    .sprey__block {
        padding: 50px;
    }
    .sprey__img {
        position: static;
        top: auto;
        left: auto;
        right: auto;
    }
    .sprey__wrapper {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-top: -40px;
    }
    .sprey__img-1 {
        position: relative;
        z-index: 1;
        width: 280px;
    }
    .sprey__img-2 {
        width: 230px;
        margin-left: -80px;
        margin-top: 0px;
    }
    .galary__section-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;  
        padding: 85px 0;

        .order__btn {
            order: 3;
        }   
    }
    .galary {
        margin: 0;
        width: 100%;
        height: auto;
        margin-bottom: 20px;
        order: 2;

        .owl-nav {
            position: static;
            transform: none;
            margin: auto;
            margin-top: 25px;
        }
    }
    .galary__item {
        position: static;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        width: 100%;
        height: auto;

        img {
            width: 100%;
            height: auto;
        }
    }
    .galary__title {
        text-align: center;
        margin-bottom: 50px;
        order: 1;
    }
    .galary__decor-1 {
        top: 100px;
        left: 570px;
    }
    .galary__decor-2 {
        right: auto;
        left: 50px;
        top: 108px;
    }
    .review__title {
        text-align: center;
    }
    .review__decor {
        top: 59px;
        left: auto;
        right: 120px;
    }
    .footer__section-wrapper {
        .header__decor-wrapper {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            margin-bottom: 0;
            position: relative;
        }
    }
    .footer__boot-1 {
        position: static;
        bottom: auto;
        left: auto;
    }
    .footer__boot-2 {
        position: static;
        bottom: auto;
        right: auto;
    }
    .footer__section-wrapper .header__block {
        margin: 0px;
    }
    .footer__section-wrapper {
        .header__title {
            margin-bottom: 150px;
        }
        .header__decor-2 {
            top: -140px;
        }
    }
    .footer__section-wrapper .header__nav {
        margin-bottom: 50px;
    }
    .footer__section-wrapper .header__decor-1 {
        bottom: auto;
        top: -210px;
        left: -39px;
    }
    .footer__section-wrapper .header__arrow {
        bottom: auto;
        left: 50%;
        transform: translateX(-50%);
        top: -130px;
    }
    .footer__boot-2 {
        margin-top: -70px;
    }
    .footer__section-wrapper .header__review {
        align-self: center;
        margin-top: 43px;
    }
    .footer__section-wrapper {
        padding: 49px 0 80px;
    }
}

@media (max-width: 700px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }
    .header__prod {
        width: 100%;
    }
    .video {
        width: 100%;
        height: 45vw;
    }
    .card__photos a {
        width: 23.5%;
    }
    .card__decor-1 {
        top: 85px;
        right: -20px;
    }
    .card__decor-2 {
        left: -20px;
        top: 160px;
    }
    .galary {
        width: 705px;
        align-self: flex-start;
    }
    .galary .owl-nav {
        width: calc(100vw - 30px);
        justify-content: center;
        margin-left: 0px;

        .owl-prev {
            margin-right: 30px;
        }
    }
    .galary__line {
        display: none;
    }
    .review__decor {
        top: 59px;
        left: auto;
        right: 0px;
    }
    .footer__boot-1 {
        width: 300px;
    }
    .footer__boot-2 {
        width: 300px;
    }
}

@media (max-width: 540px) {
    .container {
        width: 100%;
        padding: 0 3.8vw;
    }
    .header__section {
        background-position: 70% center;
    }
    .header__section-wrapper {
        padding: 7.5vw 0;
    }
    .header__nav {
        margin-bottom: 12vw;
    }
    .header__title {
        font-size: 16vw;
        margin-bottom: 12vw;
    }
    .header__decor-img {
        width: 21vw;
    }
    .header__decor-2:before {
        width: 3.8vw;
        height: 4.5vw;
        top: -2vw;
        left: -3vw;
    }
    .header__decor-1 {
        width: 27.5vw;
        top: -16vw;
        bottom: auto;
        left: -3vw;
    }
    .header__decor-2 {
        top: -5vw;
    }
    .header__arrow {
        width: 11vw;
        top: -10vw;
    }
    .header__decor-wrapper {
        margin-bottom: 4.8vw;
    }
    .header__text {
        font-size: 4.5vw;
        margin-bottom: 2vw;
    }
    .order__btn {
        border-radius: 6vw;
        font-size: 4.5vw;
        padding: 3vw 9vw;
    }
    .header__block {
        margin-bottom: 13vw;
    }
    .header__review-text {
        font-size: 4.5vw;
        margin-left: 4.8vw;
    }
    .header__review-img {
        width: 12vw;
        margin-right: -4.8vw;
    }
    .header__review-number {
        width: 12vw;
        height: 12vw;
        font-size: 4.5vw;
    }
    .header__review-star {
        width: 19vw;
        top: -9vw;
        left: -9vw;
    }
    .info__section-wrapper {
        padding: 20vw 0 15vw;
    }
    .info__title {
        font-size: 12vw;
        margin-bottom: 9vw;
    }
    .star__decor-1 {
        top: 21vw;
        left: auto;
        right: -6vw;
        width: 20vw;
        height: 20vw;
    }
    .star-1 {
        width: 15.4vw;
        height: 15.4vw;
    }
    .star-2 {
        width: 8.7vw;
        height: 8.7vw;
    }
    .star__decor-2 {
        width: 23vw;
        height: 15.7vw;
        left: -3vw;
        top: 53vw;
    }
    .star__decor-2 .star {
        width: 11.8vw;
        height: 11.8vw;
    }
    .info__line {
        width: 40vw;
        top: 70vw;
        left: -9vw;
    }
    .info__item-1 {
        padding: 8vw;
        margin-bottom: 4.8vw;
    }
    .info__item-text {
        font-size: 6vw;
        padding: 0 15vw;
    }
    .info__column {
        margin-bottom: 4.8vw;
    }
    .info__item-2 {
        padding: 11vw;
    }
    .info__item-title {
        font-size: 11vw;
    }
    .info__item-title span {
        font-size: 22vw;
    }
    .info__item-2 .info__item-text {
        font-size: 4.5vw;
        padding: 0;
    }
    .info__item-3 .info__item-title {
        font-size: 6vw;
        padding-right: 10vw;
        margin-bottom: 1vw;
    }
    .info__item-3 {
        padding: 6vw 8vw 6vw 8vw;
    }
    .info__item-3 .info__item-text {
        padding: 0;
        font-size: 4.5vw;
    }
    .info__item-arrow {
        width: 12vw;
        height: 12vw;
        top: 7vw;
        right: 7vw;
    }
    .advantage__section-title {
        font-size: 12vw;
        margin-bottom: 8.5vw;
    }
    .advantage__decor-1 {
        top: 8vw;
        right: -7vw;
    }
    .star__decor {
        width: 20vw;
        height: 20vw;
    }
    .advantage__decor-2 {
        width: 22vw;
        height: 17vw;
        top: 38vw;
        left: -8vw;

        .star-1 {
            width: 12vw;
            height: 12vw;
        }

        .star {
            width: 11vw;
            height: 11vw;
        }
    }
    .advantage__decor-line {
        width: 46vw;
        top: 50vw;
        right: -7vw;
        animation: none;
        transform: rotate(-50deg);
    }
    .advantage__item-title {
        font-size: 5.8vw;
        margin-bottom: 2vw;
    }
    .advantage__item-text {
        font-size: 4.5vw;
    }
    .advantage__item {
        margin-bottom: 8.5vw;
    }
    .advantage__boot-wrapper {
        margin-top: 8.5vw;
        margin-bottom: 10vw;
    }
    .advantage__boot {
        margin-bottom: 5vw;
    }
    .order__nav img {
        width: 4.2vw;
        margin-left: 3vw;
    }
    .advantage__section-wrapper {
        padding-bottom: 36vw;
    }
    .advantage__galary .owl-nav {
        bottom: -19vw;
    }
    .video__section-wrapper {
        padding: 15vw 0 12vw;
    }
    .video__block {
        padding: 7vw 4.8vw 8.8vw;
    }
    .video__title {
        font-size: 12vw;
        margin-bottom: 2vw;
    }
    .video__text-bold {
        font-size: 4.5vw;
        padding: 0 4vw;
    }
    .video__text {
        font-size: 4.5vw;
        margin-bottom: 7vw;
    }
    .video {
        width: 100%;
        height: 58vw;
    }
    .fancybox-slide {
        padding: 15px;
    }
    .card__section-wrapper {
        padding: 22vw 0;
    }
    .card__section-title {
        font-size: 12vw;
        margin-bottom: 2vw;
    }
    .card__section-text {
        font-size: 5.8vw;
        margin-bottom: 3.5vw;

        br {
            display: none;
        }
    }
    .card__decor-1 {
        top: 21vw;
        right: -11.5vw;
    }
    .card__decor-2 {
        left: -12vw;
        top: 21vw;
    }
    .card .info__discount {
        margin-right: -7vw;
        width: 29vw;
        height: 29vw;
        font-size: 5.8vw;
        margin-bottom: -15vw;
    }
    .card__photos a {
        width: 24.3%;
    }
    .card__photos a img {
        border-radius: 4.8vw;
        box-shadow: 1px 1px #444;
    }
    .card__boot {
        margin-bottom: 7vw !important;
    }
    .card__left {
        margin-bottom: 7vw;
    }
    .card__right {
        border-radius: 12vw;
        padding: 10vw 4.8vw 11vw;
        box-shadow: 2px 2px #444;
    }
    .card__name {
        font-size: 12vw;
        margin-bottom: 8vw;
    }
    .card__info {
        margin-bottom: 2vw;
    }
    .card__info span {
        font-size: 4.5vw;
    }
    .card__info .new__price {
        font-size: 5.8vw;
        margin-right: 2vw;
    }
    .card__info .old__price {
        font-size: 4.5vw;
    }
    .card__wrapper {
        margin-bottom: 18vw;
    }
    .card__2 .info__discount {
        margin-bottom: -8vw;
    }
    .card__3 .info__discount {
        margin-bottom: -12vw;
    }
    .card__4 .info__discount {
        margin-bottom: -11vw;
    }
    .card__input {
        font-size: 4.5vw;
    }
    .sprey__section-wrapper {
        padding: 12vw 0 14vw;
    }
    .sprey__block {
        padding: 10vw 6vw 0;
    }
    .sprey__title {
        font-size: 8.8vw;
        margin-bottom: 2vw;
    }
    .sprey__text-bold {
        font-size: 4.5vw;
        margin-bottom: 2vw;
    }
    .sprey__text {
        font-size: 4.5vw;
        margin-bottom: 4vw;
    }
    .sprey__price .sprey__old-price {
        font-size: 4.5vw;
        margin-bottom: 2vw;
    }
    .sprey__price .new__price {
        font-size: 11.5vw;
    }
    .sprey__wrapper {
        margin-top: -7vw;
    }
    .sprey__img-1 {
        width: 45vw;
        transform: rotate(-10deg);
    }
    .sprey__img-2 {
        width: 35vw;
        margin-left: -10vw;
    }
    .video__section, .sprey__section {
        background-image: url(../img/video-sec-bg-mobile.jpg);
    }
    .galary__section-wrapper {
        padding: 20vw 0;
    }
    .galary__title {
        font-size: 11.8vw;
        margin-bottom: 12vw;
    }
    .galary__decor-1 {
        top: 20vw;
        left: auto;
        right: -12vw;
    }
    .galary__decor-2 {
        width: 22vw;
        height: 17vw;
        top: 25vw;
        left: -11vw;

        .star-1 {
            width: 12vw;
            height: 12vw;
        }

        .star {
            width: 11vw;
            height: 11vw;
        }
    }
    .galary {
        width: 170.3vw;
    }
    .review__section-wrapper {
        padding: 12vw 0 13vw;
    }
    .review__title {
        font-size: 16vw;
        margin-bottom: 4.8vw;
    }
    .review__decor {
        top: 9vw;
        left: auto;
        right: -5vw;
    }
    .review {
        padding: 7.5vw;
    }
    .review__photo {
        width: 15.7vw !important;
        margin-right: 5vw;
    }
    .review__name {
        font-size: 6vw;
    }
    .review__city {
        font-size: 4.5vw;
    }
    .review__top {
        margin-bottom: 4.8vw;
    }
    .review__text {
        font-size: 4.5vw;
    }
    .footer__section-wrapper .header__nav {
        margin-bottom: 12vw;
    }
    .footer__section-wrapper .header__nav {
        margin-bottom: 12vw;
    }
    .footer__section-wrapper .header__decor-1 {
        top: -36vw;
        left: -2vw;
    }
    .footer__section-wrapper .header__arrow {
        left: 53%;
        top: -31vw;
    }
    .footer__section-wrapper .header__decor-2 {
        top: -25vw;
    }
    .footer__boot-1 {
        width: 66vw;
        margin-left: -4vw;
    }
    .footer__boot-2 {
        width: 58vw;
        margin-left: -8vw;
        margin-top: -16vw;
    }
    .footer__section-wrapper .header__title {
        margin-bottom: 30vw;
    }
    .footer__price-text {
        font-size: 6vw;
    }
    .footer__new__price {
        font-size: 11.8vw;
        margin-bottom: 1vw;
    }
    .footer__section-wrapper .header__review {
        margin-top: 10.5vw;
    }
    .footer__section {
        background-position: 68% center;
    }
    .footer__section-wrapper {
        padding: 7.5vw 0 10vw;
    }
    .header__logo {
        width: 39.8vw;
        height: auto;
    }
}