.review__section {
    background-image: url(../img/review-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.review__section-wrapper {
    padding: 40px 0 137px;
}

.sprey__block {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 50px;
}

.sprey__title {
    font-family: "Unbounded", sans-serif;
    font-weight: 800;
    font-size: 56px;
    line-height: 1.2;
    color: #141924;
    width: 600px;
    height: auto;
    flex-shrink: 0;
}

.sprey__img {
    width: 411px;
    height: auto;

}

.sprey__info-block {
    margin-left: auto;
    width: 306px;
    height: auto;
    flex-shrink: 0;
}

.sprey__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    text-align: right;
    color: #141924;
    margin-bottom: 10px;

    span {
        font-weight: 800;
    }
}

.sprey__price {
    .price {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .old__price {
        font-weight: 500;
        font-size: 18px;
        text-align: right;
        color: #141924;
        text-decoration: line-through;
    }
    .new__price {
        font-weight: 800;
        text-align: right;
        color: #5086d5;
        margin-right: 0;
    }
}

.sprey__price-text {
    font-weight: 500;
    font-size: 18px;
    text-align: right;
    color: #141924;
}

.review__block {
}

.review__title {
    font-family: "Unbounded", sans-serif;
    font-weight: 800;
    font-size: 56px;
    line-height: 1.5;
    text-align: center;
    color: #141924;
    margin-bottom: 35px;
}

.review__slider {

    .owl-dots {
        position: static;
        margin-top: 40px;
    }
}

.review {
    border-radius: 50px;
    background: #141924;
    padding: 40px 30px 76px;
}

.review__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
    position: relative;
    gap: 40px;
    margin-bottom: 15px;

    &:before {
        content: "";
        width: 100%;
        height: 3px;
        border-radius: 3px;
        background-color: #d9d9d9;
        position: absolute;
        bottom: -2px;
        left: 0;
    }
}

.review__name {
    font-family: "Unbounded", sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
}

.review__photo {
    width: 80px !important;
    height: auto;
    flex-shrink: 0;
    border-radius: 100%;
}

.review__message {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
}
