.advantage__section-1 {
    background-image: url(../img/advantage-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 480px;

    .advantage__section-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-start;
        padding: 30px 0 35px;
    }

    .advantage__text-bold {
        font-weight: 700;
        font-size: 32px;
        color: #fff;
        width: 100%;
        max-width: 403px;
    }

    .advantage__text {
        font-weight: 400;
        font-size: 16px;
        text-align: right;
        color: #fff;
        width: 100%;
        max-width: 255px;
        align-self: flex-end;
    }
}

.advantage__section-2 {
    background-image: url(../img/advantage-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 692px;

    .advantage__section-wrapper {
        padding: 47px 0 0;
        position: relative;
    }

    .advantage__title {
        font-weight: 700;
        font-size: 32px;
        color: #fff;
        margin-bottom: 15px;
    }

    .advantage__line {
        width: 100%;
        height: 1px;
        background: #fff;
    }

    .advantage__text {
        font-weight: 400;
        font-size: 16px;
        color: #fff;
        width: 100%;
        max-width: 322px;
    }

    .advantage__info {
        font-weight: 700;
        font-size: 20px;
        color: #fff;
        width: auto;
        position: absolute;
        top: 235px;
        right: 24px;
    }
    
}


.advantage__section-3 {
    width: 100%;
    height: 407px;
    background-image: url(../img/advantage-3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .advantage__section-wrapper {
        width: 100%;
        height: auto;
        padding: 20px 5px 0;
    }

    .advantage__title {
        font-weight: 700;
        font-size: 24px;
        text-align: center;
        color: #000;
        margin-bottom: 5px;
    }

    .advantage__subtitle {
        width: 100%;
        height: auto;
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        color: #fff;
        padding: 8px;
        background: #b64402;
    }

    .advantage__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: #000;
        margin-bottom: 2px;

        span {
            display: inline-block;
            width: auto;
            height: auto;
            font-weight: 600;
            color: #fff;
            background: #b64402;
            padding: 5px 8px;
            margin-right: 10px;
        }
    }
}

.advantage__btn-wrapper {
    width: 100%;
    height: auto;
    padding: 25px 0;
    background: linear-gradient(90deg, #1a0b04 0%, #4b3504 100%);
}

.advantage__section-4 {
    width: 100%;
    height: 243px;
    background-image: url(../img/advantage-4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .advantage__section-wrapper {
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        padding: 20px 0 27px;
    }

    .advantage__items {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 18px;
    }

    .advantage__item {
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        color: #fff;
    }

    .advantage__item-1 {
        max-width: 80px;
    }

    .advantage__item-2 {
        max-width: 61px;
    }

    .advantage__item-3 {
        max-width: 85px;
    }

    .advantage__item-4 {
        max-width: 69px;
    }

    .advantage__item-5 {
        max-width: 74px;
    }
}

.advantage__section-5 {
    width: 100%;
    height: 967px;
    background-image: url(../img/advantage-5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .advantage__section-wrapper {
        width: 100%;
        height: 100%;
        padding: 26px 0 0;
        position: relative;
    }

    .advantage__title {
        font-weight: 700;
        font-size: 32px;
        color: #000;
        margin-bottom: 10px;
    }

    .advantage__line {
        height: 1px;
        background: #000;
        margin-bottom: 10px;
    }

    .advantage__text {
        font-weight: 400;
        font-size: 16px;
        color: #000;
    }

    .advantage__item {
        position: absolute;
        font-weight: 700;
        font-size: 10px;
        color: #fff;
        width: auto;
    }

    .advantage__item-1 {
        top: 311px;
        left: 53px;
    }

    .advantage__item-2 {
        top: 379px;
        left: 70px;
    }

    .advantage__item-3 {
        top: 238px;
        right: 99px;
    }

    .advantage__item-4 {
        top: 269px;
        right: 17px;
    }

    .advantage__item-5 {
        top: 335px;
        right: 23px;
    }

    .advantage__item-6 {
        top: 393px;
        right: 53px;
    }
}

.advantage__section-6 {
    width: 100%;
    height: 1323px;
    background-image: url(../img/advantage-6.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .advantage__section-wrapper {
        width: 100%;
        height: 100%;
        padding: 35px 0 20px
    }

    .advantage__title {
        font-weight: 700;
        font-size: 32px;
        color: #000;
        margin-bottom: 5px;
    }

    .advantage__line {
        height: 1px;
        background: #000;
        margin-bottom: 5px;
    }

    .advantage__text {
        font-weight: 400;
        font-size: 16px;
        color: #000;
        text-shadow: 0 0 5px 0 #fff;
    }

    .advantage__bottom {
        width: 100%;
        padding: 0 4px;
        height: 300px;
        position: absolute;
        bottom: 30px;
        left: 1px;
    }

    .advantage__bottom-title {
        font-weight: 700;
        font-size: 24px;
        color: #000;
        margin-bottom: 5px;
        text-align: center;
    }

    .advantage__subtitle {
        font-weight: 700;
        font-size: 16px;
        text-align: center;
        color: #fff;
        padding: 10px;
        background: #b64402;
        margin-bottom: 5px;
    }

    .advantage__bottom-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: #000;
        padding: 0 11px;
    }
}





