.review__section {
    background-color: #FAF5EF;
}

.review__section-wrapper {
    padding: 42px 0 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review__section-title {
    font-family: "Source Serif Pro", sans-serif;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    color: #1a1f18;
    margin-bottom: 39px;
}

.review__slider {
    width: 100%;
    height: auto;

    .owl-nav button {
        border: 2px solid #2d342a !important;
        background-image: url(../img/arrow-dark.png) !important;
    }

    .owl-dots {
        margin-bottom: 15px;
    }

    .owl-dots button {
        background-color: #2d342a !important;
        border: 2px solid #2d342a !important;
    }
}

.review {
    width: 100%;
    height: auto;
    background: #2d342a;
    border-radius: 30px;
    overflow: hidden;
}

.review__header {
    width: 100%;
    height: auto;
    background: #1a1f18;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review__header-wrapper {
}

.review__name {
    font-weight: 600;
    font-size: 20px;
    color: #fff;
}

.review__rating {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 600;
    font-size: 24px;
    color: #fff;

    span {
        padding-right: 10px;
    }
}

.review__quote {
    width: 49px !important;
    height: auto;
}

.review__wrapper {
    padding: 30px;
    width: 100%;
    height: auto;
}

.review__img {
    width: 100%;
    height: auto;
    border-radius: 30px;
    margin-bottom: 11px;
}

.review__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: #fff;
    margin-bottom: 11px;
}

.review__info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
    color: #ffb856;

    img {
        width: 20px !important;
        height: auto;
        margin-right: 10px;
    }
}

.add__review {
    font-size: 16px;
    text-align: center;
    color: #444;
    cursor: pointer;
    background: transparent;
}
