.footer__section {
    background-color: #E4FAFC;
}

.footer__section-wrapper {
    padding-bottom: 50px;

    .old__price {
        color: rgb(62, 62, 62);
    }

    .new__price {
        color: rgb(44, 10, 97);
    }

    .header__btn-info {
        color: rgb(34, 34, 34);
    }
}

.footer__section-title {
    color: rgb(44, 10, 97);
    font-size: 28px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 18px;
}

.footer__img-wrapper {
    width: 100%;
    height: 500px;
    position: relative;
    // border: 1px solid black;
    margin-bottom: 40px;

    &:before {
        content: "";
        width: 883px;
        height: 362px;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-20deg);
        background: radial-gradient(93.00% 50.00% at 50% 50%,rgb(42, 126, 224),rgba(42, 126, 224, 0) 100%);
    }
}

.footer__prod {
    position: absolute;
}

.footer__prod-1 {
    transform: scaleX(-1) rotate(15deg);
    top: -13px;
    left: -5px;
}

.footer__prod-2 {
    bottom: -60px;
    right: -45px;
    width: 440px;
    height: auto;
}

.footer__line {
    background: rgba(30, 30, 30, 0.1);
}

.footer__line-wrapper {
    padding: 10px 0;
}

.footer__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(105, 105, 105);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
    text-align: center;
}