.footer__section {
    background-image: url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .info__rating {
        width: 100%;
        margin-top: 35px;
        margin-bottom: 0;
        color: #fff;
    }
}