.info__section-wrapper {
    padding: 20px 0 0px;

    .order__btn {
        margin-bottom: 50px;
    }
}

.info__rating {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.35;
    color: #000;
    margin-bottom: 60px;

    span {
        font-weight: 700;
    }

    p {
        width: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-shrink: 0;
    }

    img {
        margin-bottom: 3px;
    }
}

.info__block {
    width: 100%;
    height: 450px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    margin-bottom: 50px;
}

.info__block-1 {
    background: radial-gradient(126.44% 126.44% at 8.67% 12.56%, rgb(235, 228, 220) 0%, rgb(120, 93, 86) 100%);
    padding: 30px 20px 0;

    .info__subtitle {
        font-weight: 600;
        font-size: 20px;
        color: #000;
    }
    
    .info__title {
        font-weight: 800;
        font-size: 20px;
        color: #000;
        width: 240px;
        margin-bottom: 20px;
        // text-align: center;

        span {
            font-size: 30px;
        }

        .small {
            font-size: 18px;
            font-weight: 600;
        }
    }
    
    .info__text {
        font-weight: 400;
        font-size: 24px;
        color: #000;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    
        &:last-child {
            margin-bottom: 0;
        }
    
        span {
            font-weight: 600;
            text-transform: uppercase;
        }
    }
    
    .info__text-1 {
        padding-left: 23px;
    }
    
    .info__text-2 {
        padding-left: 76px;
    }
    
    .info__text-3 {
        padding-left: 136px;
    }
    
    .info__man {
        position: absolute;
        top: 0;
        right: 0;
    }
    
    .info__prod {
        width: 64px;
        height: auto;
        position: absolute;
        left: 15px;
        bottom: -76px;
    }
    
    .info__line {
        position: absolute;
    }
    
    .info__line-1 {
        left: 171px;
        bottom: 200px;
    }
    
    .info__line-2 {
        left: 198px;
        bottom: 146px;
    }
    
    .info__line-3 {
        left: 291px;
        bottom: 74px;
    }
}

.info__block-2 {
    height: 490px;
    background: radial-gradient(65.93% 65.57% at 52.67% 50%, rgb(235, 228, 220) 0%, rgb(120, 93, 86) 100%);

    .info__item {
        width: 100px;
        height: auto;
        position: absolute;

        img {
            width: 100%;
            height: auto;
            margin-bottom: 6px;
        }

        p {
            font-weight: 700;
            font-size: 12px;
            text-align: center;
            color: #fff;
        }
    }

    .info__item-1 {
        top: 18px;
        left: 20px;
    }

    .info__item-2 {
        top: 178px;
        left: 20px;
    }

    .info__item-3 {
        top: 338px;
        left: 20px;
    }

    .info__item-4 {
        top: 18px;
        right: 20px;
    }

    .info__item-5 {
        top: 178px;
        right: 20px;
    }

    .info__item-6 {
        top: 338px;
        right: 20px;
    }

    .info__dots {
        position: absolute;
        top: 65px;
    }

    .info__dots-1 {
        left: 113px;
    }

    .info__dots-2 {
        right: 113px;
        transform: scaleX(-1);
    }

    .info__prod {
        width: 101px;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.info__block-3 {
    background-image: url(../img/info-3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 30px 20px;

    .info__title {
        margin-left: auto;
        width: 240px;
        height: auto;
        font-weight: 600;
        font-size: 20px;
        text-align: right;
        color: #fff;

        span {
            font-weight: 800;
            font-size: 24px;
        }
    }
}

.info__block-4 {
    height: 490px;
    background: radial-gradient(126.44% 126.44% at 8.67% 12.56%, rgb(235, 228, 220) 0%, rgb(120, 93, 86) 100%);
    padding: 25px 22px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .info__subtitle {
        font-weight: 600;
        font-size: 24px;
        text-align: center;
        color: #000;
    }

    .info__title {
        font-weight: 800;
        font-size: 36px;
        text-align: center;
        color: #000;
        margin-bottom: 20px;
    }

    .info__text {
        font-weight: 600;
        font-size: 24px;
        text-transform: uppercase;
        color: #000;
        text-align: center;
        margin-bottom: 29px;

        span {
            font-weight: 400;
            font-size: 24px;
        }
    }

    .info__items {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 72px;
    }

    .info__item {
        width: 125px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #fff;
        border-radius: 20px;
        background: #ae9c95;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        color: #fff;
        padding: 10px;
    }

    .info__items-big {
        width: 380px;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .info__item-big {
        width: 125px;
        height: 90px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid #fff;
        border-radius: 20px;
        background: #ae9c95;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        color: #fff;
        position: relative;

        &:before {
            content: "";
            width: 30px;
            height: 6px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: -30px;
            background-image: url(../img/info-dots-3.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }

        &:last-of-type {
            &:before {
                right: auto;
                left: -30px;
                transform: translateY(-50%) rotate(180deg);
            }
        }

        span {
            font-weight: 800;
            font-size: 24px;
        }

    }

    .info__prod {
        width: 119px;
        height: auto;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -247px;
    }

    .info__dots {
        position: absolute;
    }

    .info__dots-1 {
        top: 182px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.info__block-5 {
    background-image: url(../img/info-4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 25px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .info__title {
        font-weight: 800;
        font-size: 34px;
        text-align: center;
        color: #fff;
        text-shadow: 0 0 10px 0 #000;
    }

    .info__bottom {
        width: 320px;
        height: auto;
        align-self: flex-end;
    }

    .info__bottom-bold {
        font-weight: 800;
        font-size: 18px;
        text-align: right;
        color: #fff;
        margin-bottom: 5px;
    }

    .info__bottom-text {
        font-weight: 400;
        font-size: 16px;
        text-align: right;
        color: #fff;
    }

    .info__dots {
        position: absolute;
        right: 120px;
        bottom: 114px;
    }
}

.info__block-6 {
    height: 490px;
    background: radial-gradient(126.44% 126.44% at 8.67% 12.56%, rgb(235, 228, 220) 0%, rgb(120, 93, 86) 100%);
    padding: 35px 7px 0;

    .info__title {
        font-weight: 400;
        font-size: 24px;
        text-align: center;
        color: #000;
        margin-bottom: 39px;

        span {
            font-weight: 800;
            font-size: 30px;
        }
    }

    .info__imgs {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px;

        img {
            width: 215px;
            height: auto;
            border-radius: 20px;
        }
    }

    .info__icons {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 67px;
            height: auto;
            margin-right: 30px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.info__block-7 {
    background-image: url(../img/info-7.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

    .info__bottom {
        width: 245px;
        height: auto;
        position: absolute;
        bottom: 25px;
        left: 10px;
        border: 1px solid #fff;
        border-radius: 20px;
        background: #ae9c95;
        padding: 15px 10px 14px;
    }

    .info__title {
        font-weight: 800;
        font-size: 18px;
        text-align: center;
        color: #fff;
        margin-bottom: 5px;
    }

    .info__text {
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        color: #fff;
    }
}


