@import "fonts";
@import "main";
@import "modal";
@import "header";
@import "about";
@import "video";
@import "info";
@import "galary";
@import "bar";
@import "card";
@import "sprey";
@import "review";
@import "footer";

@media (max-width: 1480px) {
    .container {
        width: 1200px;
    }
    .header__decor {
        width: 1480px;
    }
    .header__title {
        font-size: 70px;
    }
    .header__title-1 {
        margin-left: -324px;
    }
    .header__content {
        width: 940px;
        padding: 0 60px 495px;
        margin-right: 0px;
    }
    .header__text {
        width: 360px;
        font-size: 16px;
    }
    .header__btns {
        width: 470px;
    }
    .header__video-btn {
        width: 220px;
    }
    .order__wrapper {
        width: 220px;

        .order__btn {
            width: 100%;
        }
    }
    .header__discount {
        font-size: 16px;
    }
    .about__content {
        width: 800px;
    }
    .about__item {
        padding: 30px 30px 70px;
    }
    .video__boot-2 {
        width: 620px;
    }
    .video__boot-1 {
        width: 500px;
    }
    .video__section-wrapper {
        padding: 230px 0;
    }
    .info__item {
        width: 280px;
        height: 410px;
        padding: 35px 20px;
    }
    .info__item-img {
        width: 280px;
        height: 180px;
    }
    .info__item-title {
        font-size: 16px;
    }
}

@media (max-width: 1280px) {
    .container {
        width: 1000px;
    }
    .header__decor {
        left: 41%;
    }
    .header__title-1 {
        margin-left: -125px;
    }
    .about__content {
        width: 700px;
    }
    .about__title {
        font-size: 50px;
    }
    .about__item {
        padding: 20px 20px 40px;
    }
    .about__decor {
        width: 380px;
        top: 100px;
        right: -400px;
    }
    .video__boot-2 {
        width: 560px;
    }
    .video__boot-1 {
        width: 460px;
    }
    .video__section-wrapper {
        padding: 200px 0;
    }
    .galary__item-info {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .galary__item-name {
        margin-bottom: 10px;
    }
    .galary__item {
        padding-bottom: 40px;
    }
    .galary__title {
        width: 620px;
        font-size: 44px;
    }
    .info__item {
        width: 240px;
        height: 330px;
        padding: 20px 15px;
    }
    .info__item-img {
        width: 240px;
        height: 160px;
        top: 60px;
    }
    .info__item-title {
        font-size: 16px;
        letter-spacing: 0.05em;
    }
    .info__item-text {
        font-size: 16px;
    }
}

@media (max-width: 1080px) {
    .container {
        width: 700px;
    }
    .header__decor {
        display: none;
    }
    .header__content {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .header__title-1 {
        margin-left: 0;
    }
    .header__block {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .header__text {
        width: 100%;
        font-size: 18px;
        margin-bottom: 30px;
    }
    .header__btns {
        width: 100%;
        max-width: 400px;
        flex-direction: column;
        align-items: center;
    }
    .header__video-btn {
        width: 100%;
        margin-bottom: 20px;
    }
    .order__wrapper {
        width: 100%;
    }
    .header__discount {
        font-size: 18px;
    }
    .header__decor-mobile {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 25px;
        margin-bottom: 30px;
    }
    .nav {
        display: none;
    }
    .nav__order {
        display: none;
    }
    .header__nav {
        justify-content: center;
    }
    .header__nav:before {
        width: 100vw; 
    }
    .about__decor {
        display: none;
    }
    .about__content {
        width: 100%;
    }
    .video__section-wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 14px 0 8px;
    }
    .video__boot {
        position: static;
        top: auto;
        left: auto;
        right: auto;
    }
    .video__boot-2 {
        align-self: flex-end;
        margin-right: -100px;
    }
    .video__boot-1 {
        align-self: flex-start;
        margin-left: -100px;
        margin-top: -150px;
        transform: rotate(-20deg);
    }
    .galary__top {
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 30px;
        margin-bottom: 30px;
    }
    .galary__title {
        width: 100%;
        font-size: 48px;
        margin-right: 0;
        margin-bottom: 30px;
    }
    .galary__block {
        flex-direction: column;
        align-items: center;
    }
    .galary__item {
        width: 100%;
        border-bottom: 2px solid #808080;
        margin-bottom: 30px;
        padding-bottom: 50px;
    }
    .galary__item-1:before {
        display: none;
    }
    .galary__block {
        border: none;
    }
    .galary__item-2 {
        margin-bottom: 0;
    }
    .info__items {
        flex-wrap: wrap;
        padding-bottom: 60px;
    }
    .info__item {
        margin-bottom: 40px;
        width: 47%;
        height: auto;
        padding: 35px;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .info__item-img {
        position: static;
        width: calc(100% + 72px);
        top: auto;
        left: auto;
        height: 200px;
        margin-bottom: 27px;
    }
    .info__item-title {
        font-size: 18px;
        line-height: 1.5;
        letter-spacing: 0.11em;
        margin-bottom: 30px;
    }
    .info__item-text {
        font-size: 18px;
    }
}

@media (max-width: 700px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }
    .about__items {
        flex-direction: column;
        align-items: center;
    }
    .about__item:after {
        display: none;
    }
    .about__item {
        width: calc(100% - 60px);
    }
    .about__item:before {
        width: 100%;
    }
    .about__item {
        padding: 30px 0;
    }
    .about__number {
        text-align: center;
    }
    .about__section-wrapper {
        padding: 100px 0 70px;
    }
}

@media (max-width: 540px) {
    .header__nav {
        padding: 4.8vw 0;
        margin-bottom: 7vw;
    }
    .header__logo {
        font-size: 9.8vw;
    }
    .header__title {
        font-size: 9.8vw;
    }
    .header__block {
        margin-top: 7vw;
    }
    .header__text {
        font-size: 4.5vw;
        margin-bottom: 7vw;
    }
    .header__decor-mobile {
        width: 100vw;
        border-radius: 6vw;
        margin-bottom: 7vw;
    }
    .header__btns {
        width: 100%;
        max-width: 100%;
    }
    .header__video-btn {
        font-size: 4.5vw;
        border-radius: 8vw;
        padding: 5.5vw;
        margin-bottom: 4.8vw;
    }
    .order__btn {
        font-size: 4.5vw;
        border-radius: 8vw;
        padding: 5.5vw;
    }
    .header__discount {
        font-size: 4.5vw;
        margin-top: 2vw;
    }
    .tag {
        width: 36.2vw;
        border-radius: 6vw;
        font-size: 4.5vw;
        padding: 3vw 0;
        margin-bottom: 7vw;
    }
    .about__title {
        font-size: 9.8vw;
        margin-bottom: 7vw;
    }
    .about__text {
        font-size: 4.5vw;
        margin-bottom: 7vw;
    }
    .about__item {
        width: calc(100% - 14.6vw);
        padding: 7vw 0;
    }
    .about__number {
        font-size: 13vw;
        margin-bottom: 2vw;
    }
    .about__item-text {
        font-size: 4.5vw;
    }
    .about__section-wrapper {
        padding: 24vw 0 17vw;
    }
    .video__section-wrapper {
        padding: 3vw 0 2vw;
    }
    .video__boot-2 {
        width: 76vw;
        margin-right: -10vw;
    }
    .video__boot-1 {
        width: 70vw;
        margin-left: -15vw;
        margin-top: -15vw;
    }
    .video__play {
        width: 32.6vw;
    }
    .video__section {
        background-position: center;
    }
    .galary__section-wrapper {
        padding-top: 24vw;
    }
    .galary__title {
        font-size: 9.5vw;
        margin-bottom: 7vw;
    }
    .galary__text {
        font-size: 4.5vw;
    }
    .galary__top {
        padding-bottom: 7vw;
        margin-bottom: 7vw;
    }
    .galary__slider {
        margin-bottom: 7vw;
    }
    .galary__item-name {
        font-size: 6vw;
        margin-bottom: 2vw;
    }
    .galary__block .order__btn {
        width: 39.3vw;
        padding: 2.4vw;
    }
    .galary__item {
        margin-bottom: 7vw;
        padding-bottom: 12vw;
    }
    .galary__item-2 {
        margin-bottom: 0;
    }
    .info__section-wrapper {
        padding: 24vw 0;
    }
    .info__section-wrapper .galary__top {
        margin-bottom: 9.8vw;
    }
    .info__items {
        flex-direction: column;
        align-items: center;
        padding-bottom: 14vw;
    }
    .info__item {
        margin-bottom: 9.8vw;
        width: 84.6%;
        padding: 8.5vw;
    }
    .info__item-img {
        width: calc(100% + 17vw + 2px);
        margin-bottom: 6.2vw;
        height: 48vw;
    }
    .info__item-title {
        font-size: 4.5vw;
        letter-spacing: 0.09em;
        margin-bottom: 7vw;
    }
    .info__item-text {
        font-size: 4.5vw;
    }
}