.game-over__section {
    .modal__wrapper {
        width: 54vw;
    }
    .modal__main {
        width: 34vw;
        padding-bottom: 0;
    }
    .modal__block {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    .modal__main:before {
        right: -2vw;
    }
    .modal__game-info {
        width: 19.5vw;
    }
}

.game-over__result {
    position: relative;
    z-index: 2;
    width: 11.5vw;
    height: auto;

    .statistic__player-title {
        margin-bottom: 2.5vw;
    }
}

.result__item {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5vw;
    gap: 0.2vw;
}

.result__text {
    font-family: "Raleway", sans-serif;
    font-size: 1vw;
    font-weight: 500;
    color: #fff;
}

.result__number {
    width: 3.3vw;
    height: 2.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #202030;
    border: 1px solid #494954;
    font-family: "Raleway", sans-serif;
    font-size: 1vw;
    font-weight: 500;
    color: #fff;
    border-radius: 0.5vw;
    flex-shrink: 0;
}

.game-over__btns {
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 2;
    margin-top: 3vw;
}

.btn__game-over {
    width: 13.1vw;
    height: 5vw;

    span {
        text-align: center;
        font-size: 1vw;
    }

    img {
        width: auto;
        height: 2.6vw;
    }

    .btn__wrapper {
        gap: 0.5vw;
        justify-content: center;
        padding: 0 1vw;
    }
}
