.main__page {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: 2;
}

.gram__icons {
	position: absolute;
	width: 3200px;
    height: 1800px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.gram__icon {
	position: absolute;
	width: 3.1%;
	height: auto;
	opacity: 0;
	transform: scale(0.6);
	animation: gram 4s infinite;
}

@keyframes gram {
	0% {
		opacity: 0;
		transform: scale(0.6);
	}
	20% {
		opacity: 0;
		transform: scale(0.6);
	}
	50% {
		opacity: 1;
		transform: scale(0.8);
	}
	80% {
		opacity: 1;
		transform: scale(0.8);
	}
	100% {
		opacity: 0;
		transform: scale(1.2);
	}
	
}

.gram__icon-1 {
	top: 47.3%;
    right: 26.5%;
}

.gram__icon-2 {
	top: 39.6%;
    right: 19%;
	animation-delay: 1s;
}

.gram__icon-3 {
	top: 54.6%;
    right: 19%;
	animation-delay: 2s;
}

.gram__icon-4 {
	bottom: 9.8%;
    right: 19%;
	animation-delay: 3s;
}

.gram__icon-5 {
	bottom: 17.4%;
    right: 26.5%;
	animation-delay: 1s;
}

.gram__icon-6 {
    bottom: 9.8%;
    right: 34%;
	animation-delay: 3s;
}

.gram__icon-7 {
	top: 32.3%;
    left: 25%;
	animation-delay: 2s;
}

.gram__icon-8 {
	top: 47.2%;
    left: 25%;
	animation-delay: 1s;
}

.gram__icon-9 {
	top: 39.8%;
    left: 17.5%;
}

.gram__icon-10 {
	bottom: 17%;
    left: 25%;
	animation-delay: 1s;
}

.gram__icon-11 {
	bottom: 9.8%;
    left: 17.5%;
	animation-delay: 3s;
}

.main__page-center {
	h1 {
		margin-bottom: 2.5vw;
	}
}

.main__title {
	font-family: "Wormbox", sans-serif;
	text-align: center;
	font-size: 6vw;
	line-height: normal;
	color: #fff;
}

.main__btns {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5vw;
}

.btn {
	width: auto;
	height: 7.3vw;
	background: linear-gradient(90deg, rgba(164,128,48,1) 0%, rgba(248,228,143,1) 50%, rgba(183,152,70,1) 100%);
	padding: 2px;
	border: none;
	box-shadow: 0px 0px 20px 5px rgba(70, 73, 255, 0.7);
	transition: 0.2s ease;
	cursor: pointer;

	&:hover {
		// animation: btn-hover 2s infinite;
		// box-shadow: 0px 0px 20px 10px rgba(70, 73, 255, 1);
		box-shadow: 0px 0px 20px 5px #B79846;
		transform: scale(1.02);
	}

	span {
		font-family: "Tactic Sans Extended", sans-serif;
		font-weight: 400;
		font-size: 1.9vw;
		color: #fff;
		position: relative;
		z-index: 2;
		user-select: none;
	}

	img {
		position: relative;
		z-index: 2;
	}
}

@keyframes btn-hover {
	0%, 100% {
		box-shadow: 0px 0px 20px 5px rgba(70, 73, 255, 0.7);
	}
	50% {
		box-shadow: 0px 0px 40px 5px rgba(70, 73, 255, 1);
	}
}

.btn__wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.8vw;
	border: 4px solid #202030;
	overflow: hidden;
	position: relative;
	padding: 0 10px;

	&:before {
		content: "";
		width: 200%;
		height: 100%;
		background-color: #383a6c;
		transform-origin: bottom left;
		transform: rotate(-18deg);
		position: absolute;
		top: 0%;
		left: 0%;
		z-index: 1;
	}

	&:after {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-color: #202030;
		background-image: linear-gradient(150deg, rgba(255,255,255,0) 70%, rgba(51,53,153,0.8) 100%);
	}

}

.btn__rounded {
	border-radius: 8vw;
	min-width: 22.4vw;

	img {
		width: auto;
		height: auto;
		max-width: 4vw;
		max-height: 5vw;
	}

	.btn__wrapper {
		border-radius: 8vw;
	}
}

.btn__rectangle {
	min-width: 17vw;
	border-radius: 1vw;

	span {
		font-size: 1.1vw;
	}

	img {
		width: 5.2vw;
		height: auto;
	}

	.btn__wrapper {
		gap: 10px;
		border-radius: 1vw;
	}
}

.btn__settings {
	position: fixed;
	top: 3vw;
	left: 4vw;
}

.btn__statistic {
	position: fixed;
	top: 3vw;
	right: 4vw;
}

.btn__price {
	min-width: 10vw;
    height: 3.2vw;
    border-radius: 4vw;

	img {
		width: 2vw;
		height: auto;
	}

	.btn__wrapper {
		gap: 10px;
		border-radius: 60px;
	}

	span {
		font-size: 1.1vw;
	}

	&:hover {
		transform: none;
	}
}





.test__btns {
	position: fixed;
	bottom: 20px;
	left: 20px;
	width: auto;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
}
