.main__page {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: 2;
}

.gram__icons {
	position: absolute;
	width: 1920px;
	height: 1080px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.gram__icon {
	position: absolute;
	width: 72px;
	height: auto;
	opacity: 0;
	transform: scale(0.6);
	animation: gram 4s infinite;
}

@keyframes gram {
	0% {
		opacity: 0;
		transform: scale(0.6);
	}
	20% {
		opacity: 0;
		transform: scale(0.6);
	}
	50% {
		opacity: 1;
		transform: scale(0.8);
	}
	80% {
		opacity: 1;
		transform: scale(0.8);
	}
	100% {
		opacity: 0;
		transform: scale(1.2);
	}
	
}

.gram__icon-1 {
	top: 504px;
    right: 502px;
}

.gram__icon-2 {
	top: 424px;
    right: 358px;
	animation-delay: 1s;
}

.gram__icon-3 {
	top: 585px;
    right: 358px;
	animation-delay: 2s;
}

.gram__icon-4 {
	bottom: 100px;
    right: 358px;
	animation-delay: 3s;
}

.gram__icon-5 {
    bottom: 180px;
    right: 502px;
	animation-delay: 1s;
}

.gram__icon-6 {
    bottom: 100px;
    right: 646px;
	animation-delay: 3s;
}

.gram__icon-7 {
    top: 344px;
    left: 476px;
	animation-delay: 2s;
}

.gram__icon-8 {
	top: 504px;
    left: 476px;
	animation-delay: 1s;
}

.gram__icon-9 {
	top: 424px;
    left: 330px;
}

.gram__icon-10 {
	bottom: 260px;
    left: 620px;
	animation-delay: 1s;
}

.gram__icon-11 {
	bottom: 178px;
    left: 474px;
	animation-delay: 3s;
}

.main__page-center {
	h1 {
		margin-bottom: 50px;
	}
}

.main__title {
	font-family: "Wormbox", sans-serif;
	text-align: center;
	font-size: 116px;
	line-height: normal;
	color: #fff;
}

.main__btns {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
}

.btn {
	width: auto;
	height: 140px;
	background: linear-gradient(90deg, rgba(164,128,48,1) 0%, rgba(248,228,143,1) 50%, rgba(183,152,70,1) 100%);
	padding: 2px;
	border: none;
	box-shadow: 0px 0px 20px 5px rgba(70, 73, 255, 0.7);
	transition: 0.2s ease;
	cursor: pointer;

	&:hover {
		// animation: btn-hover 2s infinite;
		// box-shadow: 0px 0px 20px 10px rgba(70, 73, 255, 1);
		box-shadow: 0px 0px 20px 5px #B79846;
		transform: scale(1.02);
	}

	span {
		font-family: "Tactic Sans Extended", sans-serif;
		font-weight: 400;
		font-size: 35px;
		color: #fff;
		position: relative;
		z-index: 2;
	}

	img {
		position: relative;
		z-index: 2;
	}
}

@keyframes btn-hover {
	0%, 100% {
		box-shadow: 0px 0px 20px 5px rgba(70, 73, 255, 0.7);
	}
	50% {
		box-shadow: 0px 0px 40px 5px rgba(70, 73, 255, 1);
	}
}

.btn__wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 35px;
	border: 4px solid #202030;
	overflow: hidden;
	position: relative;
	padding: 0 10px;

	&:before {
		content: "";
		width: 200%;
		height: 100%;
		background-color: #383a6c;
		transform-origin: bottom left;
		transform: rotate(-18deg);
		position: absolute;
		top: 0%;
		left: 0%;
		z-index: 1;
	}

	&:after {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-color: #202030;
		background-image: linear-gradient(150deg, rgba(255,255,255,0) 70%, rgba(51,53,153,0.8) 100%);
	}

}

.btn__rounded {
	border-radius: 140px;
	min-width: 430px;

	.btn__wrapper {
		border-radius: 140px;
	}
}

.btn__rectangle {
	min-width: 310px;
	border-radius: 20px;

	span {
		font-size: 20px;
	}

	.btn__wrapper {
		gap: 10px;
		border-radius: 20px;
	}
}

.btn__settings {
	position: fixed;
	top: 60px;
	left: 80px;
}

.btn__statistic {
	position: fixed;
	top: 60px;
	right: 80px;
}

.btn__price {
	min-width: 182px;
	height: 60px;
	border-radius: 60px;

	img {
		width: 38px;
		height: auto;
	}

	.btn__wrapper {
		gap: 10px;
		border-radius: 60px;
	}

	span {
		font-size: 20px;
	}

	&:hover {
		transform: none;
	}
}

