.play__section {
    .modal__block {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        height: 100%;
    }
}

.play__block {
    position: relative;
    z-index: 1;
    width: 37.5vw;
    height: auto;
    padding-right: 2.5vw;

    &:before {
        content: "";
        width: 1px;
        height: calc(100% - 2.5vw);
        top: 2.5vw;
        right: 0;
        position: absolute;
        background-color: #363660;
    }
}

.play__block-title {
    font-size: 1.2vw;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    color: #9595bf;
    margin-bottom: 1.1vw;
}

.play__item {
    margin-top: 2.1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.play__item-info {
    width: 100%;
    height: auto;
    position: relative;
    padding-top: 1.3vw;

    &:before {
        content: "";
        width: 19.6vw;
        height: 0.89vw;
        position: absolute;
        top: 60%;
        left: 0;
        transform: translateY(-50%);
        background-image: url(../img/play-line.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
}

.play__item-title {
    font-size: 0.95vw;
    height: auto;
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    margin-bottom: 0.5vw;
}

.play__item-text {
    font-size: 0.8vw;
    height: auto;
    color: #585a80;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
}

.btn__rounded-small {
    min-width: 15.4vw;
    height: 4.6vw;

    span {
        font-size: 1.2vw;
    }
}

.play__info {
    width: 21.5vw;
    height: auto;
    flex-shrink: 0;
    position: relative;
    z-index: 1;
}

.play__info-item {
    display: none;

    &.active {
        display: block;
    }
}

.play__info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.play__info-title {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    margin-bottom: 1.1vw;
    color: #fff;
    text-align: center;
    font-size: 1.1vw;
}

.play__info-img {
    width: 100%;
    height: auto;
    border-radius: 1vw;
    margin-bottom: 1.5vw;
}

.play__info-text {
    font-size: 0.8vw;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    text-align: center;
    padding: 0 1vw;
    line-height: 1.5;
    margin-bottom: 2vw;
}

.play__info-btns {
    margin-bottom: 1vw;
    width: 100%;
    height: auto;
    display: none;
}

.play__info-btn {
    width: 8.3vw;
    height: 2.5vw;
    border-radius: 2.5vw;
    background-color: rgba(55, 55, 74, 0.5);
    border: 2px solid #848593;
    margin: 0 1vw;
    margin-bottom: 1.1vw;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 700;
    font-size: 0.8vw;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s ease;

    &:hover {
        opacity: 0.8;
    }

    &.active {
        &:hover {
            opacity: 1;
        }
        opacity: 1;
    }

    &:disabled {
        
        cursor: auto;
        opacity: 0.2;

        &:hover {
            opacity: 0.2;
        }
    }
}


