.statistic__section {
    .modal__main {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: 100%;
    }

    .modal__block {
        height: 100%;
    }

    .game__info-btn {
        cursor: auto;
    }

}

.statistic__player-title {
    width: 240px;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 22px;
    color: #fff;
    margin-bottom: 20px;
}

.statistic__main-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 45px;

    .game__info-item {
        margin-bottom: 5px;
    }
}

.statistic__player {
    width: 240px;
    height: auto;

    .modal__avatar {
        background-image: url(../img/avatar-bg-blue.png);
    }
}

.modal__statistic {
    width: 400px;
    height: auto;
    position: relative;
    z-index: 1;

    .statistic__player-title {
        width: 100%;
    }
}

.statistic__table-wrapper {
    width: 100%;
    height: auto;
    border-radius: 15px;
    border: 4px solid #F8E48F;
    margin-bottom: 40px;
    background-color: #202030;
    background-image: url(../img/court.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-bottom: 20px;

    &:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 15px;
        background: linear-gradient(0deg, rgba(44,47,130,0.7) 0%, rgba(255,255,255,0) 100%);
        z-index: 1;
    }

    &:after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 15px;
        background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(32,32,48,1) 60%);
    }
}

.statistic__table-title {
    text-align: center;
    padding: 10px;
    font-size: 16px;
    position: relative;
    z-index: 2;
}

.statistic__table-overflow {
    max-height: 280px;
    overflow: auto;
    position: relative;
    z-index: 2;
}

.statistic__table {
    width: 100%;
    height: auto;

    thead {
        width: 100%;
        background-color: #303188;
        font-size: 14px;
        font-family: "Raleway", sans-serif;
        font-weight: 500;
        color: #fff;
    }

    thead th {
        padding: 4px;
        text-align: left;

        &:first-child {
            text-align: center;
        }

        &:last-child {
            text-align: center;
        }
    }

    tbody {

        tr {
            position: relative;
            border-bottom: 1px solid #464891;

            &:last-child {
                border-bottom: none;
            }
        }

        tr.active {
            td {
                color: #ffc045;
            }
        }
    }

    td {
        text-align: left;
        padding: 5px 10px;
        vertical-align: middle;
        font-size: 20px;
        font-family: "Raleway", sans-serif;
        font-weight: 500;
        color: #fff;

        span {
            vertical-align: middle;
        }

        img {
            width: auto;
            height: 28px;
            margin-right: 10px;
            vertical-align: middle;
        }

        &:first-child {
            text-align: center;
        }

        &:last-child {
            text-align: center;
        }
    }
}

.statistic__next {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 10px;
}

.statistic__next-text {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 22px;
    color: #fff;
    width: auto;
}


.btn__next, .btn__prev {
    min-width: 180px;
    height: 50px;
    border-radius: 50px;

    img {
        width: 30px;
        height: auto;
    }

    span {
        font-size: 12px;
    }

    .btn__wrapper {
        gap: 10px;
        border-radius: 50px;
    }

    &:hover {
        // box-shadow: 0px 0px 20px 5px #B79846;
        transform: none;
    }
}

.btn__prev {
    img {
        transform: rotate(180deg);
    }
}



